{
  "openapi": "3.1.0",
  "info": {
    "description": "토스증권 트레이딩 Open API 의 REST 스펙입니다. 실시간 체결·호가·본인 주문 이벤트 스트리밍은 REST 가 아닌 웹소켓 API(`wss://openapi-ws.tossinvest.com/ws/v1`)로 제공되며, 별도의 AsyncAPI 3.0 문서 (https://openapi.tossinvest.com/openapi-docs/latest/asyncapi.json)가 실시간 스펙의 source of truth 입니다.",
    "title": "토스증권 Open API",
    "version": "1.2.14"
  },
  "servers": [
    {
      "url": "https://openapi.tossinvest.com"
    }
  ],
  "paths": {
    "/api/v1/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "계좌 목록 조회",
        "description": "사용자의 계좌 목록을 조회합니다.\n\n- 현재는 **종합매매 (`BROKERAGE`) 계좌만 반환**하며, 계좌가 없으면 빈 배열. 자녀계좌는 사용할 수 없습니다.\n- 응답의 `accountSeq` 는 **다른 모든 사용자 컨텍스트 API** (보유 주식, 주문, 매수가능금액 등) 의 `X-Tossinvest-Account` 헤더에 사용합니다.\n- `accountType` enum 은 `BROKERAGE` / `OVERSEAS_DERIVATIVES` / `PENSION_SAVINGS` / `RESHORING_INVESTMENT` 가 정의되어 있으나 본 API 에서는 현재 `BROKERAGE` 만 노출됩니다. enum 의미는 `Account.accountType` schema 참조.\n\n**Rate Limits Group**: `ACCOUNT`\n",
        "operationId": "getAccounts"
      }
    },
    "/api/v1/buying-power": {
      "get": {
        "tags": [
          "Order Info"
        ],
        "summary": "매수 가능 금액 조회",
        "description": "매수 주문 시 사용할 수 있는 매수 가능 금액을 조회합니다.\n미수거래를 제외한 현금 기반 매수 가능 금액(미수 미발생 기준)을 반환합니다.\n\n**Rate Limits Group**: `ORDER_INFO`\n",
        "operationId": "getBuyingPower",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "currency",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/candles": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "캔들 차트 조회",
        "description": "종목의 캔들(OHLCV) 차트 데이터를 조회합니다. 최대 200개 봉을 반환합니다.\n\n**Rate Limits Group**: `MARKET_DATA_CHART`\n",
        "operationId": "getCandles",
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          },
          {
            "name": "interval",
            "in": "query"
          },
          {
            "name": "count",
            "in": "query"
          },
          {
            "name": "before",
            "in": "query"
          },
          {
            "name": "adjusted",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/commissions": {
      "get": {
        "tags": [
          "Order Info"
        ],
        "summary": "매매 수수료 조회",
        "description": "현재 계좌의 시장별 매매 수수료율을 조회합니다.\n국내주식과 해외주식의 수수료 정보를 배열로 반환합니다.\n\n**Rate Limits Group**: `ORDER_INFO`\n",
        "operationId": "getCommissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          }
        ]
      }
    },
    "/api/v1/conditional-orders": {
      "get": {
        "tags": [
          "Conditional Order History"
        ],
        "summary": "조건주문 목록 조회",
        "description": "조건주문 목록을 조회합니다.\n\n**모든 타입 반환**: 이 API 로 등록한 조건주문뿐 아니라\n다른 채널(토스증권 앱 등)에서 등록한 조건주문도 함께 반환됩니다.\n타입별 필터는 제공하지 않으며, 응답의 `type` 필드로 구분합니다.\n\n**지원하는 status 값:**\n- `OPEN`: 진행 중(감시 중·일시중지·주문 진행 중 포함) 조건주문\n- `CLOSED`: 종료된(완료·만료) 조건주문\n\n`symbol` 을 지정하면 해당 종목의 조건주문만 반환합니다. `OPEN`/`CLOSED` 모두에서 사용할 수 있습니다.\n\n**페이징**: 커서 기반. 응답의 `nextCursor` 를 다음 요청의 `cursor` 로 전달합니다.\n`limit` 기본 20, 최대 100.\n\n**Rate Limits Group**: `CONDITIONAL_ORDER_HISTORY`\n",
        "operationId": "getConditionalOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "status",
            "in": "query"
          },
          {
            "name": "symbol",
            "in": "query"
          },
          {
            "name": "cursor",
            "in": "query"
          },
          {
            "name": "limit",
            "in": "query"
          }
        ]
      },
      "post": {
        "tags": [
          "Conditional Order"
        ],
        "summary": "조건주문 생성",
        "description": "특정 종목의 가격을 감시해 조건 충족 시 자동으로 매매(매수/매도)하는 조건주문을 생성합니다.\n\n감시가와 매매 방향(매수/매도)을 설정한 후 가격이 감시가에 도달하면 조건이 발동되어 주문이 생성됩니다.\n\n**발동 세션**: 조건 감시·발동 세션은 시장에 따라 다릅니다.\n- 국내 주식: KRX 정규장에서만 발동됩니다.\n- 해외 주식: 장 구분과 상관없이, 거래 가능한 모든 시간대에 발동됩니다.\n\n**타입(`type`)** — 조건의 개수와 관계를 정합니다:\n- `SINGLE`: `first` 한 조건만 감시합니다.\n- `OCO` (One-Cancels-the-Other): 두 조건(`first`·`second`)을 동시에 감시하다, 하나의 조건이 충족되면 나머지 조건은 자동 취소됩니다.\n  `first`/`second` 모두 **매도(SELL)** 이며 `first` 감시가 \u003e 현재가 \u003e `second` 감시가 여야 합니다. 호가유형은 지정가(`LIMIT`)만 지원합니다.\n- `OTO` (One-Triggers-the-Other): `first` 조건이 체결되면 그때부터 `second` 조건 감시가 시작됩니다.\n  `first` 는 **매수(BUY)**, `second` 는 **매도(SELL)** 입니다. 호가유형은 지정가(`LIMIT`)만 지원합니다.\n\n**Rate Limits Group**: `CONDITIONAL_ORDER`\n",
        "operationId": "createConditionalOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          }
        ]
      }
    },
    "/api/v1/conditional-orders/{conditionalOrderId}": {
      "delete": {
        "tags": [
          "Conditional Order"
        ],
        "summary": "조건주문 취소",
        "description": "조건주문을 취소합니다. `conditionalOrderId` 로 취소 대상을 식별합니다.\n\n**Rate Limits Group**: `CONDITIONAL_ORDER`\n",
        "operationId": "cancelConditionalOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "conditionalOrderId",
            "in": "path"
          }
        ]
      },
      "get": {
        "tags": [
          "Conditional Order History"
        ],
        "summary": "조건주문 상세 조회",
        "description": "조건주문 단건 상세를 조회합니다. 진행 중 + 종료된 조건주문을 모두 조회할 수 있습니다.\n`conditionalOrderId` 로 조건주문을 식별합니다.\n\n**Rate Limits Group**: `CONDITIONAL_ORDER_HISTORY`\n",
        "operationId": "getConditionalOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "conditionalOrderId",
            "in": "path"
          }
        ]
      }
    },
    "/api/v1/conditional-orders/{conditionalOrderId}/modify": {
      "post": {
        "tags": [
          "Conditional Order"
        ],
        "summary": "조건주문 수정",
        "description": "조건주문을 수정합니다. 조건주문 전체를 재설정하므로 본문에 `type`·`expireDate`·`first`(필요 시 `second`) 를 모두 전달합니다.\n수량(`quantity`)은 각 감시 조건(`first`/`second`) 안에 입력합니다.\n(등록과 달리 `expireDate` 가 필수입니다.) 종목은 `conditionalOrderId` 로 식별되므로 본문에 `symbol` 은 필요 없습니다.\n본문의 `type` 은 변경 결과 타입이며, 타입 전환(예: SINGLE→OCO)이 허용됩니다. 응답의 `type` 으로 확인하세요.\n\n`conditionalOrderId` 로 수정 대상을 식별합니다.\n\n**주의**: 수정은 기존 조건주문을 취소하고 새 조건주문을 생성하는 방식으로 동작합니다.\n따라서 수정 후에는 **새로운 `conditionalOrderId` 가 발급되고 기존 ID 는 무효화**됩니다.\n이후 조회·수정·취소에는 반드시 응답으로 반환된 `conditionalOrderId` 를 사용하세요.\n\n**Rate Limits Group**: `CONDITIONAL_ORDER`\n",
        "operationId": "modifyConditionalOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "conditionalOrderId",
            "in": "path"
          }
        ]
      }
    },
    "/api/v1/exchange-rate": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "환율 조회",
        "description": "KRW ↔ USD 환율 정보를 조회합니다.\n\n- **갱신 주기 1분**, 참고용 표시 환율. 실제 주문 시 적용되는 거래 환율과 다를 수 있습니다.\n- `dateTime` 미지정 시 **현재 시점의 유효 환율**이 응답됩니다.\n- 응답의 `validFrom` ~ `validUntil` 은 해당 환율의 **유효 시간 윈도** (보통 1분) 입니다.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getExchangeRate",
        "parameters": [
          {
            "name": "dateTime",
            "in": "query"
          },
          {
            "name": "baseCurrency",
            "in": "query"
          },
          {
            "name": "quoteCurrency",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/holdings": {
      "get": {
        "tags": [
          "Asset"
        ],
        "summary": "보유 주식 조회",
        "description": "보유 주식 정보를 조회합니다.\n국내(KR)·미국(US) 주식만 포함하며, 해외 옵션·채권은 제외합니다.\n보유 종목이 없으면 요약 금액은 0이고 items는 빈 배열입니다.\n\n**Rate Limits Group**: `ASSET`\n",
        "operationId": "getHoldings",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "symbol",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/market-calendar/KR": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "국내 장 운영 정보 조회",
        "description": "국내 시장의 거래 가능 시간을 조회합니다. 통합 모드 (KRX+NXT) 기준이며, 특수장(시간외종가/시간외단일가)은 제외됩니다. 전일/당일/익일 3영업일 정보를 반환합니다. 모든 시간은 KST(+09:00) 기준.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getKrMarketCalendar",
        "parameters": [
          {
            "name": "date",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/market-calendar/US": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "해외 장 운영 정보 조회",
        "description": "미국 시장의 장 운영 시간을 조회합니다. 4 세션(`dayMarket`, `preMarket`, `regularMarket`, `afterMarket`) 별로 nullable. 휴장 시 4 세션 모두 null. 전일/당일/익일 3영업일 정보를 반환합니다. 모든 시간은 KST(+09:00) 기준.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getUsMarketCalendar",
        "parameters": [
          {
            "name": "date",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/market-indicators/prices": {
      "get": {
        "tags": [
          "Market Indicators"
        ],
        "summary": "시장 지표 현재가 조회",
        "description": "시장 지표(국내 지수·국채)의 현재가를 조회합니다. 최대 200건 까지 다건 조회를 지원하며 콤마(`,`)로 구분합니다.\n\n지원 심볼은 그룹 상단 **Market Indicators** 설명의 심볼 카탈로그(8종)를 따르며, 카탈로그에 없는 심볼은\n400 `unsupported-symbol` 로 응답합니다.\n\n**Rate Limits Group**: `MARKET_INDICATOR`\n",
        "operationId": "getMarketIndicatorPrices",
        "parameters": [
          {
            "name": "symbols",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/market-indicators/{symbol}/candles": {
      "get": {
        "tags": [
          "Market Indicators"
        ],
        "summary": "시장 지표 캔들 차트 조회",
        "description": "시장 지표(국내 지수·국채)의 캔들(OHLCV) 차트 데이터를 조회합니다. 최대 200개 봉을 반환합니다.\n\n지원 심볼은 그룹 상단 **Market Indicators** 설명의 심볼 카탈로그(8종)와 동일하며, 카탈로그에 없는 심볼은\n400 `unsupported-symbol` 로 응답합니다. 개별 종목의 캔들은 `GET /api/v1/candles` 를 사용하세요.\n\n분봉(`1m`)은 지수(`KOSPI`·`KOSDAQ`)만 지원합니다. 국채(`KR_BOND_*`)는 일봉(`1d`)만 지원하며, 분봉 요청 시\n400 `invalid-request` 로 응답합니다.\n\n**Rate Limits Group**: `MARKET_INDICATOR_CHART`\n",
        "operationId": "getMarketIndicatorCandles",
        "parameters": [
          {
            "name": "symbol",
            "in": "path"
          },
          {
            "name": "interval",
            "in": "query"
          },
          {
            "name": "count",
            "in": "query"
          },
          {
            "name": "before",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/market-indicators/{symbol}/investor-trading": {
      "get": {
        "tags": [
          "Market Indicators"
        ],
        "summary": "투자자별 매매대금 조회",
        "description": "KRX 시장(코스피·코스닥)의 투자자별 매매대금을 조회합니다. 개인·외국인·기관·기타법인 4개 투자자 분류의\n매수·매도 거래대금을 집계 단위(`interval`)별 기록으로 최신순 제공하며, 기관은 7개 세부 분류(`breakdown`)를\n함께 제공합니다.\n\n- `KOSPI` / `KOSDAQ` 만 지원합니다. 그 외 심볼은 400 `unsupported-symbol` 로 응답합니다.\n- 모든 거래대금은 원화(KRW) 정수이며, 별도의 통화 필드는 제공하지 않습니다.\n- 4개 분류(개인·외국인·기관·기타법인)의 매수 합계와 매도 합계는 시장 전체 기준으로 서로 같습니다.\n- `foreigner` 는 외국인 전체 합계(등록·미등록 외국인 포함)이며, `institution` 의 `buyAmount`/`sellAmount` 는\n  `breakdown` 7개 항목의 합과 일치합니다.\n- 당일 기록은 장 종료 전까지 갱신될 수 있는 잠정치입니다. `updatedAt` 으로 마지막 갱신 시각을 확인하세요.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**Rate Limits Group**: `MARKET_INDICATOR`\n",
        "operationId": "getMarketIndicatorInvestorTrading",
        "parameters": [
          {
            "name": "symbol",
            "in": "path"
          },
          {
            "name": "interval",
            "in": "query"
          },
          {
            "name": "count",
            "in": "query"
          },
          {
            "name": "until",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/orderbook": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "호가 조회",
        "description": "매수/매도 호가 및 잔량을 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getOrderbook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ]
      }
    },
    "/api/v1/orders": {
      "get": {
        "tags": [
          "Order History"
        ],
        "summary": "주문 목록 조회",
        "description": "주문 목록을 조회합니다.\nstatus 파라미터로 주문 상태를 필터링합니다.\n\n**지원하는 status 값:**\n- 진행 중 주문: `OPEN` -- PENDING, PARTIAL_FILLED, PENDING_CANCEL, PENDING_REPLACE 상태의 주문을 반환\n- 종료된 주문: `CLOSED` -- FILLED, CANCELED, REJECTED, REPLACED 등 종료 상태 주문을 반환합니다.\n\nsymbol을 지정하면 해당 종목의 주문만 필터링하여 반환합니다.\n\n**페이징 동작:**\n- `status=OPEN`: 모든 대기 중 주문을 전량 반환합니다. `limit`, `cursor` 는 무시되며, `from`/`to` 만 주문 생성일(`orderedAt`, KST 기준) 범위 필터로 적용됩니다 (미지정 시 전체 기간).\n- `status=CLOSED`: `limit` (기본 20, 최대 100), `cursor`, `from`/`to` 파라미터 모두 적용됩니다.\n\n**Rate Limits Group**: `ORDER_HISTORY`\n",
        "operationId": "getOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "status",
            "in": "query"
          },
          {
            "name": "symbol",
            "in": "query"
          },
          {
            "name": "from",
            "in": "query"
          },
          {
            "name": "to",
            "in": "query"
          },
          {
            "name": "cursor",
            "in": "query"
          },
          {
            "name": "limit",
            "in": "query"
          }
        ]
      },
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "주문 생성",
        "description": "매수 또는 매도 주문을 생성합니다.\n\n**수량 지정 방식** — `quantity`, `orderAmount` 중 정확히 하나를 사용:\n- `quantity`: 주문 수량 (주 단위). 지정한 수량만큼 주문. 소수점 수량은 미국 주식 시장가 매도(`MARKET`+`SELL`)에만 허용 (그 외는 정수만)\n- `orderAmount`: 주문 금액 (달러). 지정한 금액만큼 주문하며, 체결 수량은 시장가에 따라 결정. US MARKET 전용\n\n**소수점 거래 접수 시간**: 금액 주문 (`orderAmount`) 과 소수점 수량 주문은 정규장 시작부터 **정규장 종료 1시간 전**까지만 접수할 수 있습니다.\n그 외 시간에 호출 시 각각 `422 amount-order-outside-regular-hours` / `422 fractional-quantity-outside-regular-hours` 를 반환합니다.\n\n**Rate Limits Group**: `ORDER`\n",
        "operationId": "createOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          }
        ]
      }
    },
    "/api/v1/orders/{orderId}": {
      "get": {
        "tags": [
          "Order History"
        ],
        "summary": "주문 상세 조회",
        "description": "특정 주문의 상세 정보를 조회합니다.\n모든 주문 상태(체결 완료, 취소, 거부 등)의 주문을 조회할 수 있습니다.\n\n**Rate Limits Group**: `ORDER_HISTORY`\n",
        "operationId": "getOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ]
      }
    },
    "/api/v1/orders/{orderId}/cancel": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "주문 취소",
        "description": "기존 주문을 취소합니다. 이미 체결된 주문은 취소할 수 없습니다.\n\n**Rate Limits Group**: `ORDER`\n",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ]
      }
    },
    "/api/v1/orders/{orderId}/modify": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "주문 정정",
        "description": "기존 주문의 가격 또는 수량을 정정합니다.\n\n**KR 주식:** `quantity` 필수. 양의 정수만 허용합니다.\n\n**US 주식:** `quantity` 제공 불가. 가격 변경만 지원합니다. `quantity` 제공 시 `400 us-modify-quantity-not-supported` 에러를 반환합니다.\n\n**Rate Limits Group**: `ORDER`\n",
        "operationId": "modifyOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ]
      }
    },
    "/api/v1/price-limits": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "상/하한가 조회",
        "description": "종목의 당일 상한가 및 하한가를 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getPriceLimit",
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ]
      }
    },
    "/api/v1/prices": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "현재가 조회",
        "description": "종목의 현재가 정보를 조회합니다. 최대 200건 까지 다건 조회를 지원하며 콤마(`,`)로 구분합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getPrices",
        "parameters": [
          {
            "name": "symbols",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/rankings": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "주식 랭킹 조회",
        "description": "지정한 시장(`marketCountry`) · 기간(`duration`) · 기준(`type`)의 주식 랭킹을 조회합니다. 상위 100위까지 제공합니다.\n\n- `TOP_GAINERS` / `TOP_LOSERS` 는 `duration=realtime` 을 지원하지 않습니다 (400 `unsupported-ranking-duration`).\n- `tradingVolume` / `tradingAmount` 의 집계 기준은 `type` 이 결정합니다 — `TOSS_SECURITIES_*` 는 토스증권 체결 기준, 그 외(`MARKET_*` / `TOP_*`)는 시장 전체 기준.\n- `price.basePrice` 는 `TOP_GAINERS` / `TOP_LOSERS` 만 `duration` 시작 시점 기준가이며, 나머지 타입은 `duration` 과 무관하게 항상 전일 기준가입니다. `price.changeRate` 도 같은 의미를 따릅니다 (기간 등락률 vs 전일 대비 등락률).\n- 응답 항목 수는 `count` 보다 적을 수 있습니다 (시세 조회에 실패한 종목은 제외).\n- 랭킹이 집계되지 않은 조합은 에러가 아닌 빈 `rankings` 배열로 응답하며, 이때 `rankedAt` 은 null 입니다.\n\n**Rate Limits Group**: `RANKING`\n",
        "operationId": "getRankings",
        "parameters": [
          {
            "name": "type",
            "in": "query"
          },
          {
            "name": "marketCountry",
            "in": "query"
          },
          {
            "name": "duration",
            "in": "query"
          },
          {
            "name": "excludeInvestmentCaution",
            "in": "query"
          },
          {
            "name": "count",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/sellable-quantity": {
      "get": {
        "tags": [
          "Order Info"
        ],
        "summary": "판매 가능 수량 조회",
        "description": "특정 종목의 판매 가능 수량을 조회합니다.\n\n**Rate Limits Group**: `ORDER_INFO`\n",
        "operationId": "getSellableQuantity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ]
      }
    },
    "/api/v1/stocks": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "종목 기본 정보 조회",
        "description": "종목의 기본 정보를 조회합니다. `symbols` 를 콤마로 구분하여 최대 200건 까지 다건 조회를 지원합니다.\n종목명, 시장, 통화, 상장 상태, 거래정지 여부 등 트레이딩에서 필요한 참조 데이터를 제공합니다.\n\n**관련 API**: 마켓 전체 종목 목록(유니버스)이 필요하면 [`GET /api/v1/stocks/all`](#operation/listStocks) 을 사용하세요.\n\n**Rate Limits Group**: `STOCK`\n",
        "operationId": "getStocks",
        "parameters": [
          {
            "name": "symbols",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/stocks/all": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "마켓별 전체 종목 조회",
        "description": "마켓(거래소)별 종목 리스트를 조회합니다. 종목 유니버스 구성 용도이며, 토스증권에서 거래 가능한 종목만 제공합니다.\n`status`·`securityType`·`commonShare` 로 유니버스를 필터링할 수 있습니다.\n\n**정렬**: `symbol` 오름차순. 필터 조건에 해당하는 종목을 페이지네이션 없이 한 번에 반환합니다.\n\n**응답 규모**: 마켓당 최대 수천 건(예: NASDAQ 약 2,800건, gzip 응답 약 30KB). 일 배치로 갱신되는 저변동 데이터이므로 하루 1회 조회 후 로컬 캐싱을 권장합니다.\n\n**관련 API**: 여기서 얻은 `symbol` 로 [`GET /api/v1/stocks`](#operation/getStocks)(다건 상세 조회)를 호출해 종목명·통화·상장상태 등 상세 정보를 채울 수 있습니다.\n\n**Rate Limits Group**: `STOCK_ALL`\n",
        "operationId": "listStocks",
        "parameters": [
          {
            "name": "market",
            "in": "query"
          },
          {
            "name": "status",
            "in": "query"
          },
          {
            "name": "securityType",
            "in": "query"
          },
          {
            "name": "commonShare",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/stocks/{symbol}/credit-trades": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "신용거래 동향 조회",
        "description": "국내(KR) 종목의 신용거래 동향을 일별 시계열로 조회합니다. 신용융자(`marginLoan`)·신용대주(`stockLoan`)\n각각의 신규·상환·잔고 수량과 잔고 비율·공여율을 최신순으로 제공합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- 자기신용과 유통금융을 합산한 값이며, 모든 수량은 주식 수(주) 정수입니다.\n- `stockLoan`(신용대주)은 주식을 빌려 매도하는 개인 신용거래입니다. 기관 간 대차거래\n  (`GET /api/v1/stocks/{symbol}/securities-lending`)와는 다른 데이터입니다.\n- 해당 일자에 융자·대주 중 한쪽 데이터만 있으면 없는 쪽 객체는 null 입니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 다음 영업일 새벽에 반영됩니다(T+1). 최신 기록은 전 영업일입니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockCreditTrades",
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query"
          },
          {
            "name": "until",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/stocks/{symbol}/investor-trading": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "투자자별 매매동향 조회",
        "description": "국내(KR) 종목의 투자자별 매매동향을 일별 거래량 시계열로 조회합니다. 개인·외국인·기관·기타법인\n4개 투자자 분류의 매수·매도·순매수 거래량을 최신순으로 제공하며, 기관은 7개 세부 분류(`breakdown`)를\n함께 제공합니다. 외국인 보유 현황(`foreignerHolding`)과 CFD 잔고(`cfd`)도 일자별로 포함합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- 거래량은 KRX·NXT 통합 기준이며, 모든 수량은 주식 수(주) 정수입니다. 순매수(`netBuyVolume`)는\n  매수 − 매도로 계산되며 음수면 순매도입니다. 거래대금(금액) 축은 제공하지 않습니다.\n- `foreigner` 는 등록외국인 기준입니다. 시장 지표의 투자자별 매매대금\n  (`GET /api/v1/market-indicators/{symbol}/investor-trading`, 등록·미등록 합계)과 기준이 다릅니다.\n- 당일 기록은 장중 잠정치로 제공합니다. 잠정치가 제공되지 않는 `individual`(개인)·\n  `institution.breakdown`(기관 세부)·`otherCorporation`(기타법인)·`foreignerHolding`(외국인 보유)·\n  `cfd`(CFD 잔고)는 null 이며, `updatedAt` 으로 마지막 갱신 시각을 확인할 수 있습니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 하나의 일자 기록은 시간에 걸쳐 완성됩니다. 투자자별 매매동향 확정치와\n외국인 보유(`foreignerHolding`)는 해당 일자 저녁에 반영됩니다. CFD 잔고(`cfd`)는 다음 영업일 새벽(T+1)에\n반영되며, 외국인 보유는 다음 영업일 오전에 확정치로 한 번 더 갱신될 수 있습니다.\n`updatedAt` 은 이 모든 반영을 포함한 기록 전체의 마지막 갱신 시각입니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockInvestorTrading",
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query"
          },
          {
            "name": "until",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/stocks/{symbol}/program-trades": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "프로그램매매 동향 조회",
        "description": "국내(KR) 종목의 프로그램매매 동향을 일별 거래량 시계열로 조회합니다. 차익거래(`arbitrage`)·\n비차익거래(`nonArbitrage`) 각각의 매수·매도·순매수 거래량을 최신순으로 제공합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- KRX 시장 거래만 집계하며 NXT 거래는 포함하지 않습니다. 모든 수량은 주식 수(주) 정수입니다.\n  순매수(`netBuyVolume`)는 매수 − 매도로 계산되며 음수면 순매도입니다. 거래대금(금액) 축은 제공하지 않습니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 당일 기록도 제공되며, 장 종료 전까지 갱신될 수 있습니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockProgramTrades",
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query"
          },
          {
            "name": "until",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/stocks/{symbol}/securities-lending": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "대차거래 동향 조회",
        "description": "국내(KR) 종목의 대차거래 동향을 일별 시계열로 조회합니다. 대차 체결·상환·잔고 수량과\n잔고 금액을 최신순으로 제공합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- 모든 금액은 원화(KRW)이며, 별도의 통화 필드는 제공하지 않습니다.\n- 대차거래는 기관 투자자 간 주식 대여·차입 거래입니다. 주식을 빌려 매도하는 개인 신용거래인\n  신용대주(`GET /api/v1/stocks/{symbol}/credit-trades` 의 `stockLoan`)와는 다른 데이터입니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 일별 확정치는 해당 일자 저녁에 반영됩니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockSecuritiesLending",
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query"
          },
          {
            "name": "until",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/stocks/{symbol}/short-selling": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "공매도 동향 조회",
        "description": "국내(KR) 종목의 공매도 동향을 일별 시계열로 조회합니다. 공매도 거래량·거래대금과 함께\n해당 일자 전체 거래량·거래대금 대비 공매도 비중을 최신순으로 제공합니다.\n\n- 국내(KR) 종목만 지원합니다. 다른 시장의 종목은 400 `unsupported-market` 으로 응답합니다.\n- 모든 금액은 원화(KRW)이며, 별도의 통화 필드는 제공하지 않습니다.\n- 비중(`shortSellingVolumeRate`·`shortSellingAmountRate`)의 분모는 정규장 외 세션\n  (장전·장후·시간외단일가)을 포함한 해당 일자 누적 거래량·거래대금입니다.\n  분모 데이터가 없는 날짜는 비중이 null, 분모가 0 이면 `0` 입니다.\n- 다음 페이지는 응답의 `nextUntil` 값을 `until` 파라미터로 전달해 조회합니다.\n\n**데이터 적시성**: 일별 확정치는 해당 일자 저녁에 반영됩니다.\n\n**Rate Limits Group**: `STOCK_TRADING_TREND`\n",
        "operationId": "getStockShortSelling",
        "parameters": [
          {
            "$ref": "#/components/parameters/KrSymbol"
          },
          {
            "name": "count",
            "in": "query"
          },
          {
            "name": "until",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/stocks/{symbol}/warnings": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "매수 유의사항 조회",
        "description": "종목의 매수 유의사항 및 변동성 완화(VI) 발동 정보를 조회합니다.\n\n**포함 종류**: 정리매매(`LIQUIDATION_TRADING`), 단기과열종목(`OVERHEATED`), 투자경고(`INVESTMENT_WARNING`), 투자위험(`INVESTMENT_RISK`), VI 정적/동적/혼합(`VI_STATIC` / `VI_DYNAMIC` / `VI_STATIC_AND_DYNAMIC`), 신주인수권(`STOCK_WARRANTS`). 전체 enum 은 `StockWarning.warningType` 참조.\n\n**\"활성\"의 시간 기준**: 응답 시점 기준으로 `startDate \u003c= 오늘 \u003c= endDate` 인 항목 (또는 `endDate` 가 `null` 인 진행 중 항목).\n\n**응답 정렬**: `startDate` 내림차순 (최근 발동된 항목부터). `startDate` 가 동일한 경우 정렬 순서는 보장되지 않습니다.\n\n**데이터 적시성**: VI 발동/해제는 거래소 이벤트 발생 후 수 초 내 반영됩니다. 정리매매·단기과열·투자경고/위험 지정은 거래소 공시 기준 일배치로 반영됩니다.\n\n**미존재 vs 빈 배열**:\n- 종목 자체가 없으면 `404 stock-not-found`.\n- 종목은 있으나 활성 유의사항이 없으면 `200 OK` + `result: []`.\n\n**Rate Limits Group**: `STOCK`\n",
        "operationId": "getStockWarnings",
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          }
        ]
      }
    },
    "/api/v1/trades": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "최근 체결 내역 조회",
        "description": "당일 최근 체결 내역을 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getTrades",
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          },
          {
            "name": "count",
            "in": "query"
          }
        ]
      }
    },
    "/oauth2/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "OAuth2 액세스 토큰 발급",
        "description": "OAuth 2.0 Client Credentials Grant 로 access token 을 발급합니다.\n\n- 요청 본문은 `application/x-www-form-urlencoded` 으로 전송합니다.\n- 발급된 token 은 다른 모든 API 의 `Authorization: Bearer {access_token}` 헤더에 사용합니다.\n- 응답 형식은 BFF 공통 envelope 이 아닌 OAuth2 표준 형식을 따릅니다.\n- refresh token 은 제공되지 않습니다. 만료 시 동일 엔드포인트로 재발급합니다.\n- client 당 유효한 access token 은 1 개입니다. 재발급 시 이전에 발급된 token 은 즉시 무효화됩니다.\n\n**Rate Limits Group**: `AUTH`\n",
        "operationId": "issueOAuth2Token"
      }
    }
  },
  "components": {
    "headers": {
      "WWWAuthenticate": {
        "description": "OAuth 2.0 Bearer 토큰 챌린지.\n401 응답에 포함됩니다. 메시지에 non-ASCII 문자가 포함되는 경우 `error_description` 파라미터는 생략됩니다.\n",
        "example": "Bearer realm=\"openapi\", error=\"invalid_token\", error_description=\"Token has expired\"",
        "schema": {
          "type": "string"
        }
      },
      "XRequestId": {
        "description": "요청 식별자. 모든 응답(성공·실패) 에 포함되며, 본문 `error.requestId` 와 동일한 값입니다.\nCS 문의 시 첨부를 권장합니다.\n",
        "example": "01HXYZABCDEFG123456789",
        "schema": {
          "type": "string"
        }
      }
    },
    "parameters": {
      "AccountSeq": {
        "description": "API 요청 시 사용할 계좌의 accountSeq.\n`GET /api/v1/accounts` 응답의 `accountSeq` 값을 사용합니다.\n",
        "example": 1,
        "in": "header",
        "name": "X-Tossinvest-Account",
        "required": true,
        "schema": {
          "format": "int64",
          "type": "integer"
        }
      },
      "KrSymbol": {
        "description": "국내(KR) 종목 심볼. KRX 6자리 종목코드 (예: 005930).",
        "examples": {
          "krx": {
            "summary": "삼성전자",
            "value": "005930"
          }
        },
        "in": "path",
        "name": "symbol",
        "required": true,
        "schema": {
          "pattern": "^[A-Za-z0-9.\\-]+$",
          "type": "string"
        }
      },
      "OrderId": {
        "description": "주문 식별자.\n서버에서 발급한 opaque token 입니다.\n",
        "example": "0d5QIHjmtksbsmM-hBRAgP-ExI8iodGm9fAR5txelPfnMM8XQ_swoJdwL5RpGWMo",
        "in": "path",
        "name": "orderId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Symbol": {
        "description": "종목 심볼. KRX: 6자리 숫자 (예: 005930), US: 영문 티커 (예: AAPL). 영문 대/소문자, 숫자, '.', '-' 만 허용한다.",
        "examples": {
          "krx": {
            "summary": "삼성전자",
            "value": "005930"
          },
          "us": {
            "summary": "Apple",
            "value": "AAPL"
          }
        },
        "in": "path",
        "name": "symbol",
        "required": true,
        "schema": {
          "pattern": "^[A-Za-z0-9.\\-]+$",
          "type": "string"
        }
      },
      "SymbolQuery": {
        "description": "종목 심볼. KRX: 6자리 숫자 (예: 005930), US: 영문 티커 (예: AAPL). 영문 대/소문자, 숫자, '.', '-' 만 허용한다.",
        "examples": {
          "krx": {
            "summary": "삼성전자",
            "value": "005930"
          },
          "us": {
            "summary": "Apple",
            "value": "AAPL"
          }
        },
        "in": "query",
        "name": "symbol",
        "required": true,
        "schema": {
          "pattern": "^[A-Za-z0-9.\\-]+$",
          "type": "string"
        }
      }
    },
    "responses": {
      "AccountHeaderRequired": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "account-header-required",
                "message": "x-tossinvest-account 헤더가 필요합니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "X-Tossinvest-Account 헤더 누락"
      },
      "Forbidden": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "forbidden",
                "message": "요청에 필요한 권한이 부족합니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "권한 부족"
      },
      "InternalErrorAsset": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "보유 자산 조회 중 일시적 오류"
      },
      "InternalErrorMarketData": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "시세 조회 중 일시적 오류"
      },
      "InternalErrorMarketIndicators": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "시장 지표 조회 중 일시적 오류"
      },
      "InternalErrorMarketInfo": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "시장 정보 조회 중 일시적 오류"
      },
      "InternalErrorOrder": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "주문 처리 중 일시적 오류"
      },
      "InternalErrorOrderHistory": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "주문 조회 중 일시적 오류"
      },
      "InternalErrorOrderInfo": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "거래 가능 정보 조회 중 일시적 오류"
      },
      "InternalErrorRanking": {
        "description": "랭킹 조회 중 일시적 오류"
      },
      "InternalErrorStock": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "종목 정보 조회 중 일시적 오류"
      },
      "InternalErrorTradingTrend": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "수급·투자자 동향 조회 중 일시적 오류"
      },
      "NotFound": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "stock-not-found",
                "message": "종목을 찾을 수 없습니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "종목을 찾을 수 없음"
      },
      "OrderInfoAccountNotFound": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "account-not-found",
                "message": "계좌를 찾을 수 없습니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "조회 가능한 계좌가 없음"
      },
      "OrderNotFound": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "order-not-found",
                "message": "주문을 찾을 수 없습니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "주문을 찾을 수 없음"
      },
      "RateLimitExceeded": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "rate-limit-exceeded",
                "message": "요청 한도를 초과했습니다. 잠시 후 다시 시도해 주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "요청 한도 초과. 포함 헤더의 의미는 아래 `headers` 정의를 참조합니다.",
        "headers": {
          "Retry-After": {
            "description": "재시도 권장 초",
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Limit": {
            "description": "현재 허용된 초당 요청 수 (burst capacity)",
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "description": "현재 버킷에 남은 토큰 수. 429 시 0.",
            "example": 0,
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Reset": {
            "description": "토큰 1 개가 재충전될 때까지 예상 초",
            "example": 1,
            "schema": {
              "type": "integer"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "서비스 일시 불가"
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "examples": {
              "expiredToken": {
                "summary": "만료된 토큰",
                "value": {
                  "error": {
                    "code": "expired-token",
                    "message": "토큰이 만료되었습니다.",
                    "requestId": "01HXYZABCDEFG123456789"
                  }
                }
              },
              "invalidToken": {
                "summary": "유효하지 않은 토큰",
                "value": {
                  "error": {
                    "code": "invalid-token",
                    "message": "유효하지 않은 토큰입니다.",
                    "requestId": "01HXYZABCDEFG123456789"
                  }
                }
              },
              "loginUserNotFound": {
                "summary": "로그인 정보 없음",
                "value": {
                  "error": {
                    "code": "login-user-not-found",
                    "message": "로그인 정보를 찾을 수 없습니다.",
                    "requestId": "01HXYZABCDEFG123456789"
                  }
                }
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "인증 실패. `WWW-Authenticate: Bearer ...` 헤더가 함께 내려갑니다.\n",
        "headers": {
          "WWW-Authenticate": {
            "description": "OAuth 2.0 Bearer 토큰 챌린지. 메시지에 non-ASCII 문자가 포함되는 경우\n`error_description` 파라미터는 생략됩니다.\n",
            "example": "Bearer realm=\"openapi\", error=\"invalid_token\", error_description=\"Token has expired\"",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "schemas": {
      "Account": {
        "properties": {
          "accountNo": {
            "description": "계좌번호",
            "example": "12345678901",
            "type": "string"
          },
          "accountSeq": {
            "description": "계좌 식별 키. 주문 등 API 호출 시 이 값을 사용",
            "example": 1,
            "format": "int64",
            "type": "integer"
          },
          "accountType": {
            "description": "계좌 유형. 현재는 BROKERAGE 만 지원합니다.\n- BROKERAGE: 종합매매. 국내·해외 주식 통합 매매 계좌\n- OVERSEAS_DERIVATIVES: 해외파생. 해외 파생상품 거래 계좌\n- PENSION_SAVINGS: 연금저축. 세제혜택 연금저축 계좌\n- RESHORING_INVESTMENT: RIA 계좌\n\n클라이언트는 unknown enum 값을 허용하도록 구현해야 합니다.\n",
            "enum": [
              "BROKERAGE",
              "OVERSEAS_DERIVATIVES",
              "PENSION_SAVINGS",
              "RESHORING_INVESTMENT"
            ],
            "example": "BROKERAGE",
            "type": "string"
          }
        },
        "required": [
          "accountNo",
          "accountSeq",
          "accountType"
        ],
        "type": "object"
      },
      "AfterMarketSession": {
        "description": "애프터마켓 세션 (NXT)",
        "properties": {
          "endTime": {
            "description": "애프터마켓 전체 종료",
            "example": "2026-03-25T20:00:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "singlePriceAuctionEndTime": {
            "description": "애프터마켓 내 시가단일가 구간 종료.",
            "example": "2026-03-25T15:40:00+09:00",
            "oneOf": [
              {
                "format": "date-time",
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startTime": {
            "description": "애프터마켓 시작",
            "example": "2026-03-25T15:30:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "startTime",
          "endTime"
        ],
        "type": "object"
      },
      "ApiError": {
        "description": "에러 객체. 에러 식별에 필요한 최소 정보(`requestId`, `code`, `message`)와\n필요 시 해결 힌트(`data`)를 포함합니다.\n",
        "properties": {
          "code": {
            "description": "에러 코드. flat string 식별자.\n도메인 에러는 이유를 직접 표현하는 단일 식별자 (예: `invalid-request`, `order-not-found`) 를 사용합니다.\n클라이언트는 unknown code 를 허용하도록 구현해야 합니다.\n",
            "example": "order-not-found",
            "type": "string"
          },
          "data": {
            "additionalProperties": true,
            "description": "에러 해결 힌트. 에러 코드별로 포함 여부와 키 구조가 다르며, 없는 경우 필드 자체가 생략됩니다.\n모든 표준 키가 항상 함께 내려가지 않으며, 각 에러 코드에 해당하는 서브셋만 포함됩니다.\n\n## 표준 키 (camelCase)\n\n| 키 | 타입 | 설명 |\n|---|---|---|\n| `field` | string | 검증 실패 원인 필드. 외부 API 에 노출된 이름 (request body JSON key 또는 query parameter name) 을 사용합니다. 복수 필드는 쉼표로 구분 (예: `\"quantity,orderAmount\"`). |\n| `allowedValues` | string[] | enum 후보 값 전체. |\n| `allowedConditions` | object | 조건부 허용 규칙 (`marketCountry` / `orderType` / `side` 등). |\n| `constraint` | object | 필드 제약 (`min` / `max` / `integerOnly` / `step`). |\n| `format` | string | 포맷 규칙명 (예: `decimal`). |\n| `pattern` | string | 정규식. |\n| `maxLength` | number | 문자열 길이 상한. |\n| `limits` | object | 금액 / 수량 한도 (`threshold` / `minimum` / `maximum` + `currency`). |\n| `retryAfterAt` | string | 절대 재시도 시각 (ISO 8601 offset, KST). |\n| `retryAfterSeconds` | number | 상대 재시도 시각 (초). |\n| `tickSize` | string | 호가 단위. |\n| `nearestPrices` | string[] | 근접 유효 가격 (`[lower, upper]`). |\n\n구체적인 에러 코드별 `data` 예시는 각 엔드포인트의 4xx / 5xx 응답 예시를 참고합니다.\n",
            "type": [
              "object",
              "null"
            ]
          },
          "message": {
            "description": "사용자에게 노출 가능한 에러 메시지. 내부 정책상 노출이 제한되는 경우 빈 문자열로 내려갈 수 있으므로\n클라이언트는 `code` 기반으로 메시지를 자체 매핑할 것을 권장합니다.\n",
            "example": "주문 방향이 올바르지 않습니다.",
            "type": "string"
          },
          "requestId": {
            "description": "요청을 식별하는 고유 ID. 응답 헤더 `X-Request-Id` 와 동일한 값입니다.\n토스증권 CS 문의 시 첨부를 권장합니다.\n",
            "example": "01HXYZABCDEFG123456789",
            "type": "string"
          }
        },
        "required": [
          "requestId",
          "code",
          "message"
        ],
        "type": "object"
      },
      "ApiResponse": {
        "description": "성공 응답 envelope. 200 응답에 사용됩니다.\n각 엔드포인트의 성공 응답 스키마는 `allOf` 로 본 스키마를 상속하며 `result` 를 구체 타입으로 specialize 합니다.\n실패 응답은 별도의 `ErrorResponse` 스키마를 사용합니다 (4xx/5xx). `result` 와 `error` 는 동시에 나타나지 않습니다.\n",
        "properties": {
          "result": {
            "description": "성공 응답의 페이로드. 엔드포인트별 타입이 다르며, 각 엔드포인트 스펙에서 `allOf` 로 구체 타입을 명시합니다.\n"
          }
        },
        "required": [
          "result"
        ],
        "type": "object"
      },
      "BuyingPowerResponse": {
        "properties": {
          "cashBuyingPower": {
            "description": "현금 기반 매수 가능 금액 (미수 미발생 기준).\n순수 현금으로 매수할 수 있는 금액.\nKRW: 정수 (원 단위). USD: 소수점 포함 (달러 단위).\n",
            "example": "5000000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          }
        },
        "required": [
          "currency",
          "cashBuyingPower"
        ],
        "type": "object"
      },
      "Candle": {
        "properties": {
          "closePrice": {
            "description": "종가",
            "example": "72000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "highPrice": {
            "description": "고가",
            "example": "72300",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "lowPrice": {
            "description": "저가",
            "example": "71500",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "openPrice": {
            "description": "시가",
            "example": "71600",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "timestamp": {
            "description": "봉 시작 시각",
            "example": "2026-03-25T09:00:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "volume": {
            "description": "거래량",
            "example": "3521000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "timestamp",
          "openPrice",
          "highPrice",
          "lowPrice",
          "closePrice",
          "volume",
          "currency"
        ],
        "type": "object"
      },
      "CandlePageResponse": {
        "properties": {
          "candles": {
            "description": "캔들 목록",
            "items": {
              "$ref": "#/components/schemas/Candle"
            },
            "type": "array"
          },
          "nextBefore": {
            "description": "다음 페이지 조회 시 `before` 쿼리 파라미터에 그대로 전달. 마지막 페이지면 null.",
            "format": "date-time",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "candles"
        ],
        "type": "object"
      },
      "CfdBalance": {
        "properties": {
          "buyBalanceQuantity": {
            "description": "CFD 매수 잔고 수량 (주, 정수)",
            "example": "1250000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "buyBalanceRate": {
            "description": "CFD 매수 잔고 비율 (소수 비율). 상장주식수 대비 매수 잔고 수량. 예: `0.0002` = 0.02%",
            "example": "0.0002",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "sellBalanceQuantity": {
            "description": "CFD 매도 잔고 수량 (주, 정수)",
            "example": "890000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "sellBalanceRate": {
            "description": "CFD 매도 잔고 비율 (소수 비율). 상장주식수 대비 매도 잔고 수량. 예: `0.0001` = 0.01%",
            "example": "0.0001",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "buyBalanceQuantity",
          "buyBalanceRate",
          "sellBalanceQuantity",
          "sellBalanceRate"
        ],
        "type": "object"
      },
      "Commission": {
        "properties": {
          "commissionRate": {
            "description": "매매 수수료율 (소수 비율). 예: `0.00015` = 0.015%",
            "example": "0.00015",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "endDate": {
            "description": "수수료 적용 종료일 (YYYY-MM-DD, KST 기준). 무기한 적용 시 null",
            "example": "2026-12-31",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          },
          "marketCountry": {
            "$ref": "#/components/schemas/MarketCountry"
          },
          "startDate": {
            "description": "수수료 적용 시작일 (YYYY-MM-DD, KST 기준). 해외주식은 null",
            "example": "2026-01-01",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "marketCountry",
          "commissionRate"
        ],
        "type": "object"
      },
      "ConditionRequest": {
        "description": "감시 조건 (leg). 가격이 `triggerPrice` 에 닿으면 `orderSide`(매수/매도) 주문을 냅니다.\n수량(`quantity`)·호가유형(`orderType`)은 그룹 공통이라 상위 요청에 있습니다.\n호가유형이 `LIMIT` 이면 `orderPrice` 가 필수이고, `MARKET` 이면 `orderPrice` 를 보내면 안 됩니다.\n`orderPrice` 는 호가 단위에 맞아야 하며, 맞지 않으면 `400 invalid-request` 에러와 함께 올바른 호가 단위가 `data`에 포함됩니다.\n",
        "properties": {
          "orderPrice": {
            "description": "[orderType=LIMIT] 주문 가격(지정가). 트리거 시 이 가격의 지정가 주문을 생성합니다. MARKET 이면 보내지 않습니다.\n- KR: 정수 (원 단위). 호가 단위에 맞아야 합니다 (예: 50,000~200,000원 구간은 100원 단위).\n- US: 소수점 (달러 단위). 호가 단위에 맞아야 합니다 ($1 미만은 0.0001, $1 이상은 0.01 단위).\n\n호가 단위에 맞지 않으면 `400 invalid-request` 에러와 함께 올바른 호가 단위가 `data`에 포함됩니다.\n",
            "example": "305",
            "format": "decimal",
            "maxLength": 30,
            "pattern": "^\\d+(\\.\\d+)?$",
            "type": "string"
          },
          "orderSide": {
            "description": "매매 유형 (매수/매도)",
            "enum": [
              "BUY",
              "SELL"
            ],
            "example": "SELL",
            "type": "string"
          },
          "triggerPrice": {
            "description": "감시 가격. 현재가가 이 값에 닿으면 주문을 생성합니다.",
            "example": "305",
            "format": "decimal",
            "maxLength": 30,
            "pattern": "^\\d+(\\.\\d+)?$",
            "type": "string"
          }
        },
        "required": [
          "orderSide",
          "triggerPrice"
        ],
        "type": "object"
      },
      "ConditionalOrderCondition": {
        "properties": {
          "orderPrice": {
            "description": "주문 가격(지정가). 그룹 호가유형(orderType)이 LIMIT 이면 값이 있고, MARKET 이면 null.",
            "example": "294.5",
            "format": "decimal",
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "description": "조건(leg) 단위 상태. 최상위 조건주문 `status` 와 달리 leg 전용인 `HOLDING`·`CANCELED` 를 포함합니다.\n- `HOLDING`: 선행 조건(OTO first) 체결 전 대기 (leg 전용)\n- `CANCELED`: 취소됨 (완료된 OCO 에서 자동취소된 반대편 조건)\n",
            "enum": [
              "WATCHING",
              "HOLDING",
              "PAUSED",
              "ORDERING",
              "ORDERED",
              "COMPLETED",
              "EXPIRED",
              "CANCELED"
            ],
            "example": "WATCHING",
            "type": "string"
          },
          "targetProfitRate": {
            "description": "[PROFIT_RATE 전용] 감시 수익률. **퍼센트(%) 단위**입니다 (예: `10.5` = +10.5%).\nPROFIT_RATE 이 아닌 조건이면 null.\n",
            "example": "10.5",
            "format": "decimal",
            "type": [
              "string",
              "null"
            ]
          },
          "triggerPrice": {
            "description": "이 가격에 닿으면 트리거됩니다.\n현재 지원 조건은 항상 값이 존재하나, 향후 수익률(PROFIT_RATE)·추종형 조건은 고정 트리거가가 없어 null 일 수 있습니다.\n",
            "example": "295",
            "format": "decimal",
            "type": [
              "string",
              "null"
            ]
          },
          "triggeredOrderId": {
            "description": "조건 충족으로 생성된 주문의 ID. 일반 주문 API(`GET /orders/{orderId}` 등)에 그대로 사용할 수 있습니다. 주문 생성 전이면 null.\n",
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "description": "감시 조건 세부 타입 (그룹 타입을 구성하는 단위).\n- `STOP`: 가격 트리거\n- `PROFIT_RATE`: 목표 수익률(%) 트리거\n\n그룹(OCO/OTO)의 `first` 와 `second` 는 항상 동일한 타입입니다.\n",
            "enum": [
              "STOP",
              "PROFIT_RATE"
            ],
            "example": "STOP",
            "type": "string"
          }
        },
        "required": [
          "type",
          "status"
        ],
        "type": "object"
      },
      "ConditionalOrderCreateRequest": {
        "description": "조건주문 생성 요청. \"이 가격(triggerPrice)에 닿으면 매수/매도(orderSide) 주문\" 만 입력하면 됩니다.\n가격이 감시가(triggerPrice)에 닿으면 트리거됩니다.\n타입은 `type`(SINGLE/OCO/OTO)으로 지정합니다.\n",
        "properties": {
          "clientOrderId": {
            "description": "멱등키 (선택) — 주문 생성 API 와 동일. 동일한 값으로 재요청 시 중복 생성을 방지합니다.",
            "example": "my-order-001",
            "maxLength": 36,
            "pattern": "^[a-zA-Z0-9\\-_]+$",
            "type": "string"
          },
          "confirmHighValueOrder": {
            "default": false,
            "description": "1억원 이상 주문 동의 여부",
            "type": "boolean"
          },
          "expireDate": {
            "description": "조건주문 만료일 (YYYY-MM-DD, 필수). 만료일까지 조건이 충족되지 않으면 자동 만료됩니다.",
            "example": "2026-09-10",
            "format": "date",
            "type": "string"
          },
          "first": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ConditionRequest"
              }
            ],
            "description": "첫번째 감시 조건 (필수). OTO 는 먼저 감시할 부모 조건입니다."
          },
          "orderType": {
            "description": "호가유형 (그룹 공통). `LIMIT`(지정가) 이면 각 조건의 `orderPrice` 가 필수이고, `MARKET`(시장가) 이면 `orderPrice` 를 지정할 수 없습니다.\nOCO/OTO 는 지정가(`LIMIT`)만 지원합니다.\n",
            "enum": [
              "LIMIT",
              "MARKET"
            ],
            "example": "LIMIT",
            "type": "string"
          },
          "quantity": {
            "description": "매매 수량 (주 단위). 조건주문 그룹 공통값 — OCO/OTO 는 동일 포지션이라 first/second 가 같은 수량을 씁니다.",
            "example": "100",
            "format": "decimal",
            "maxLength": 30,
            "pattern": "^\\d+(\\.\\d+)?$",
            "type": "string"
          },
          "second": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ConditionRequest"
              }
            ],
            "description": "두번째 감시 조건. SINGLE 은 생략(설정하지 않음), OCO/OTO 는 필수. 그 외 구조·규칙은 first 와 동일합니다.",
            "nullable": true
          },
          "symbol": {
            "description": "종목 심볼. KRX: 6자리 숫자, US: 영문 티커",
            "example": "005930",
            "type": "string"
          },
          "type": {
            "description": "조건주문 타입 (조건의 개수와 관계).\n- `SINGLE`: 한 조건만 감시\n- `OCO` (One-Cancels-the-Other): 두 조건을 동시에 감시, 하나의 조건 충족 시 나머지 조건 자동 취소\n- `OTO` (One-Triggers-the-Other): `first` 조건 체결 후 `second` 조건 감시 시작\n",
            "enum": [
              "SINGLE",
              "OCO",
              "OTO"
            ],
            "example": "OCO",
            "type": "string"
          }
        },
        "required": [
          "symbol",
          "type",
          "quantity",
          "orderType",
          "expireDate",
          "first"
        ],
        "type": "object"
      },
      "ConditionalOrderCreateResponse": {
        "description": "조건주문 생성 응답.",
        "properties": {
          "clientOrderId": {
            "description": "요청에 사용한 멱등키(`clientOrderId`)를 그대로 반환합니다. 요청에 없었으면 null.",
            "example": "my-order-001",
            "type": [
              "string",
              "null"
            ]
          },
          "conditionalOrderId": {
            "description": "서버가 생성한 조건주문 식별자. 이후 조회·수정·취소에 사용합니다.",
            "example": "gaZIG-dYMWil8AAXyPmlRg",
            "type": "string"
          }
        },
        "required": [
          "conditionalOrderId"
        ],
        "type": "object"
      },
      "ConditionalOrderDetailResponse": {
        "description": "조건주문 조회 응답 (목록 항목 / 상세 공용). 모든 타입을 단일 스키마로 표현하며,\n감시 조건은 `first`/`second` 로 내려갑니다 (SINGLE 은 `first` 만, OCO/OTO 는 `second` 도 존재).\n",
        "properties": {
          "conditionalOrderId": {
            "description": "조건주문 식별자. 상세 조회·수정·취소에 사용합니다.\n",
            "example": "gaZIG-dYMWil8AAXyPmlRg",
            "type": "string"
          },
          "createdAt": {
            "description": "조건주문 등록 시각 (KST)",
            "example": "2026-06-12T09:00:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "expireDate": {
            "description": "조건주문 만료일 (조건주문 1건의 모든 감시 조건이 공유). 이 날짜까지 미충족 시 자동 만료됩니다.",
            "example": "2026-09-10",
            "format": "date",
            "type": "string"
          },
          "first": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ConditionalOrderCondition"
              }
            ],
            "description": "첫번째 감시 조건 (OTO 는 부모)"
          },
          "market": {
            "description": "시장 구분",
            "enum": [
              "KR",
              "US"
            ],
            "example": "KR",
            "type": "string"
          },
          "orderType": {
            "description": "호가유형 (그룹 공통). LIMIT(지정가)/MARKET(시장가).",
            "enum": [
              "LIMIT",
              "MARKET"
            ],
            "example": "LIMIT",
            "type": "string"
          },
          "quantity": {
            "description": "매매 수량 (주 단위, 그룹 공통).",
            "example": "100",
            "format": "decimal",
            "type": "string"
          },
          "second": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ConditionalOrderCondition"
              }
            ],
            "description": "두번째 감시 조건. OCO/OTO 만 존재하며 단일(SINGLE)은 null.",
            "nullable": true
          },
          "status": {
            "description": "조건주문(그룹) 상태 — 살아있는 조건(leg)의 상태를 대표로 따릅니다.\nleg 전용 상태인 `HOLDING`·`CANCELED` 는 최상위 status 로는 내려오지 않습니다 (조건별 상태 `first.status`/`second.status` 에서만 노출).\n- `WATCHING`: 조건 감시 중\n- `PAUSED`: 일시중지\n- `ORDERING`: 조건 충족 — 주문 생성 진행 중\n- `ORDERED`: 주문 생성됨\n- `COMPLETED`: 완료\n- `EXPIRED`: 만료\n",
            "enum": [
              "WATCHING",
              "PAUSED",
              "ORDERING",
              "ORDERED",
              "COMPLETED",
              "EXPIRED"
            ],
            "example": "WATCHING",
            "type": "string"
          },
          "symbol": {
            "description": "종목 심볼. KRX: 6자리 숫자, US: 영문 티커",
            "example": "005930",
            "type": "string"
          },
          "type": {
            "description": "조건주문 타입.\n- `SINGLE`: 한 조건만 감시\n- `OCO` (One-Cancels-the-Other): 두 조건을 동시에 감시, 하나의 조건 충족 시 나머지 조건 자동 취소\n- `OTO` (One-Triggers-the-Other): `first` 조건 체결 후 `second` 조건 감시 시작\n",
            "enum": [
              "SINGLE",
              "OCO",
              "OTO"
            ],
            "example": "OCO",
            "type": "string"
          }
        },
        "required": [
          "conditionalOrderId",
          "type",
          "status",
          "symbol",
          "market",
          "quantity",
          "orderType",
          "first",
          "createdAt"
        ],
        "type": "object"
      },
      "ConditionalOrderModifyRequest": {
        "description": "조건주문 수정 요청. 등록과 동일하게 \"이 가격에 닿으면 매매\" 만 입력하며,\n조건주문 전체를 재설정하므로 유지할 조건도 함께 전달해야 합니다.\n종목은 `conditionalOrderId` 로 식별되므로 수정 요청에는 `symbol` 이 필요 없습니다.\n",
        "properties": {
          "confirmHighValueOrder": {
            "default": false,
            "description": "1억원 이상 주문 동의 여부",
            "type": "boolean"
          },
          "expireDate": {
            "description": "조건주문 만료일 (수정 시 필수)",
            "example": "2026-09-10",
            "format": "date",
            "type": "string"
          },
          "first": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ConditionRequest"
              }
            ],
            "description": "첫번째 감시 조건 (필수). OTO 는 먼저 감시할 부모 조건입니다."
          },
          "orderType": {
            "description": "호가유형 (그룹 공통). LIMIT(지정가)/MARKET(시장가). OCO/OTO 는 지정가만 지원합니다.",
            "enum": [
              "LIMIT",
              "MARKET"
            ],
            "example": "LIMIT",
            "type": "string"
          },
          "quantity": {
            "description": "매매 수량 (주 단위, 그룹 공통).",
            "example": "100",
            "format": "decimal",
            "maxLength": 30,
            "pattern": "^\\d+(\\.\\d+)?$",
            "type": "string"
          },
          "second": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ConditionRequest"
              }
            ],
            "description": "두번째 감시 조건. SINGLE 은 생략(설정하지 않음), OCO/OTO 는 필수. 그 외 구조·규칙은 first 와 동일합니다.",
            "nullable": true
          },
          "type": {
            "description": "변경 결과 타입. 수정 시 타입 전환(예: SINGLE→OCO)이 허용됩니다.\n",
            "enum": [
              "SINGLE",
              "OCO",
              "OTO"
            ],
            "example": "OCO",
            "type": "string"
          }
        },
        "required": [
          "type",
          "quantity",
          "orderType",
          "expireDate",
          "first"
        ],
        "type": "object"
      },
      "ConditionalOrderResponse": {
        "description": "조건주문 수정·취소 응답. 대상 조건주문 식별자만 반환합니다.",
        "properties": {
          "conditionalOrderId": {
            "description": "조건주문 식별자",
            "example": "gaZIG-dYMWil8AAXyPmlRg",
            "type": "string"
          }
        },
        "required": [
          "conditionalOrderId"
        ],
        "type": "object"
      },
      "Cost": {
        "description": "비용. 거래 통화(currency) 기준",
        "properties": {
          "commission": {
            "description": "수수료",
            "example": "14400",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "tax": {
            "description": "세금. 세금이 없는 경우 null",
            "example": "135600",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "commission"
        ],
        "type": "object"
      },
      "CreditTradeDetail": {
        "properties": {
          "balanceQuantity": {
            "description": "잔고 수량 (주, 정수)",
            "example": "2513400",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "balanceRate": {
            "description": "잔고 비율 (소수 비율). 상장주식수 대비 잔고 수량. 예: `0.0042` = 0.42%",
            "example": "0.0042",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "newQuantity": {
            "description": "신규 수량 (주, 정수)",
            "example": "125300",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "returnQuantity": {
            "description": "상환 수량 (주, 정수)",
            "example": "98200",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "tradingRate": {
            "description": "공여율 (소수 비율). 매매일의 종목 전체 거래량 중 해당 신용거래 유형의 거래량 비율. 예: `0.09` = 9%",
            "example": "0.09",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "newQuantity",
          "returnQuantity",
          "balanceQuantity",
          "balanceRate",
          "tradingRate"
        ],
        "type": "object"
      },
      "CreditTradeRecord": {
        "properties": {
          "date": {
            "description": "매매 기준일",
            "example": "2026-07-16",
            "format": "date",
            "type": "string"
          },
          "marginLoan": {
            "description": "신용융자 (돈을 빌려 매수하는 신용거래). 해당 일자의 융자 데이터가 없으면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CreditTradeDetail"
              },
              {
                "type": "null"
              }
            ]
          },
          "stockLoan": {
            "description": "신용대주 (주식을 빌려 매도하는 개인 신용거래). 기관 간 대차거래\n(`GET /api/v1/stocks/{symbol}/securities-lending`)와는 다른 데이터입니다.\n해당 일자의 대주 데이터가 없으면 null\n",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CreditTradeDetail"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedAt": {
            "description": "해당 기록의 마지막 갱신 시각",
            "example": "2026-07-17T02:35:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "date",
          "updatedAt"
        ],
        "type": "object"
      },
      "CreditTradesResponse": {
        "properties": {
          "nextUntil": {
            "description": "다음 페이지 조회 기준일. 다음 페이지 조회 시 `until` 쿼리 파라미터에 그대로 전달. 더 이상 데이터가 없으면 null",
            "example": "2026-07-14",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          },
          "records": {
            "description": "일별 신용거래 기록 목록 (최신순). 데이터가 없으면 빈 배열",
            "items": {
              "$ref": "#/components/schemas/CreditTradeRecord"
            },
            "type": "array"
          }
        },
        "required": [
          "records"
        ],
        "type": "object"
      },
      "Currency": {
        "description": "통화 코드.\n- KRW: 한국 원화\n- USD: 미국 달러\n\n클라이언트는 unknown enum 값을 허용하도록 구현해야 합니다.\n",
        "enum": [
          "KRW",
          "USD"
        ],
        "type": "string"
      },
      "DailyProfitLoss": {
        "description": "일간 손익. 거래 통화(currency) 기준",
        "properties": {
          "amount": {
            "description": "일간 손익금액",
            "example": "100000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "rate": {
            "description": "일간 손익률. 소수비율 (0.0141 = 1.41%)",
            "example": "0.0141",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "amount",
          "rate"
        ],
        "type": "object"
      },
      "ErrorResponse": {
        "description": "에러 응답 envelope. 4xx/5xx 응답에 사용됩니다. 성공 응답은 별도의 `ApiResponse` 스키마를 사용합니다.\n",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "error"
        ],
        "type": "object"
      },
      "ExchangeRateResponse": {
        "properties": {
          "baseCurrency": {
            "$ref": "#/components/schemas/Currency",
            "description": "기준 통화",
            "example": "USD"
          },
          "basisPoint": {
            "description": "매매기준율(midRate) 대비 basis points. (rate - midRate) / midRate * 10000",
            "example": "40",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "midRate": {
            "description": "매매기준율 (은행간 mid rate)",
            "example": "1375",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "quoteCurrency": {
            "$ref": "#/components/schemas/Currency",
            "description": "표시 통화 (quote currency)",
            "example": "KRW"
          },
          "rate": {
            "description": "매수 환율 (1 baseCurrency = ? quoteCurrency)",
            "example": "1380.5",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "rateChangeType": {
            "description": "등락 구분",
            "enum": [
              "UP",
              "EQUAL",
              "DOWN"
            ],
            "example": "UP",
            "type": "string"
          },
          "validFrom": {
            "description": "환율 유효 시작 시각",
            "example": "2026-03-25T09:30:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "validUntil": {
            "description": "환율 유효 종료 시각",
            "example": "2026-03-25T09:31:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "baseCurrency",
          "quoteCurrency",
          "rate",
          "midRate",
          "basisPoint",
          "rateChangeType",
          "validFrom",
          "validUntil"
        ],
        "type": "object"
      },
      "ForeignerHolding": {
        "properties": {
          "holdingQuantity": {
            "description": "외국인 보유 주식 수 (주, 정수)",
            "example": "3012456789",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "holdingRate": {
            "description": "외국인 보유 비율 (소수 비율). 상장주식수 대비 보유 주식 수. 예: `0.5089` = 50.89%",
            "example": "0.5089",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "limitQuantity": {
            "description": "외국인 보유 한도 주식 수 (주, 정수)",
            "example": "5919637922",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "holdingQuantity",
          "limitQuantity",
          "holdingRate"
        ],
        "type": "object"
      },
      "HoldingsItem": {
        "properties": {
          "averagePurchasePrice": {
            "description": "매수 평균가. 거래 통화(currency) 기준",
            "example": "65000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "cost": {
            "$ref": "#/components/schemas/Cost"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "dailyProfitLoss": {
            "$ref": "#/components/schemas/DailyProfitLoss"
          },
          "lastPrice": {
            "description": "현재가. 거래 통화(currency) 기준",
            "example": "72000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "marketCountry": {
            "$ref": "#/components/schemas/MarketCountry"
          },
          "marketValue": {
            "$ref": "#/components/schemas/MarketValue"
          },
          "name": {
            "description": "종목명",
            "example": "삼성전자",
            "type": "string"
          },
          "profitLoss": {
            "$ref": "#/components/schemas/ProfitLoss"
          },
          "quantity": {
            "description": "보유 수량",
            "example": "100",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "symbol": {
            "description": "종목 심볼. KR: 6자리 숫자, US: 티커",
            "example": "005930",
            "type": "string"
          }
        },
        "required": [
          "symbol",
          "name",
          "marketCountry",
          "currency",
          "quantity",
          "lastPrice",
          "averagePurchasePrice",
          "marketValue",
          "profitLoss",
          "dailyProfitLoss",
          "cost"
        ],
        "type": "object"
      },
      "HoldingsOverview": {
        "properties": {
          "dailyProfitLoss": {
            "$ref": "#/components/schemas/OverviewDailyProfitLoss"
          },
          "items": {
            "description": "보유 종목 목록. 보유 종목이 없으면 빈 배열",
            "items": {
              "$ref": "#/components/schemas/HoldingsItem"
            },
            "type": "array"
          },
          "marketValue": {
            "$ref": "#/components/schemas/OverviewMarketValue"
          },
          "profitLoss": {
            "$ref": "#/components/schemas/OverviewProfitLoss"
          },
          "totalPurchaseAmount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Price"
              }
            ],
            "description": "투자원금. 전체 보유 종목의 통화별 합산"
          }
        },
        "required": [
          "totalPurchaseAmount",
          "marketValue",
          "profitLoss",
          "dailyProfitLoss",
          "items"
        ],
        "type": "object"
      },
      "InstitutionTradingAmount": {
        "properties": {
          "breakdown": {
            "$ref": "#/components/schemas/InstitutionTradingBreakdown"
          },
          "buyAmount": {
            "description": "기관 합계 매수 거래대금 (KRW, 정수). `breakdown` 7개 항목의 `buyAmount` 합과 일치",
            "example": "2100000000000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "sellAmount": {
            "description": "기관 합계 매도 거래대금 (KRW, 정수). `breakdown` 7개 항목의 `sellAmount` 합과 일치",
            "example": "2180000000000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "buyAmount",
          "sellAmount",
          "breakdown"
        ],
        "type": "object"
      },
      "InstitutionTradingBreakdown": {
        "description": "기관 세부 7개 분류별 매매대금",
        "properties": {
          "bank": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "은행"
          },
          "financialInvestment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "금융투자"
          },
          "insurance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "보험"
          },
          "otherFinancialInstitution": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "기타금융"
          },
          "pensionFund": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "연기금"
          },
          "privateEquityFund": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "사모펀드"
          },
          "trust": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "투신"
          }
        },
        "required": [
          "financialInvestment",
          "insurance",
          "trust",
          "privateEquityFund",
          "bank",
          "otherFinancialInstitution",
          "pensionFund"
        ],
        "type": "object"
      },
      "IntegratedHour": {
        "description": "거래 가능 시간. 특수장(시간외종가/시간외단일가) 제외, 통합 모드 (KRX+NXT) 기준.\n세 세션(`preMarket`, `regularMarket`, `afterMarket`) 각각 nullable. 해당 세션이 휴장이면 null,\n세 세션 모두 null 이면 상위 `integrated` 자체가 null.\n",
        "properties": {
          "afterMarket": {
            "description": "애프터마켓 (NXT). NXT 애프터마켓이 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AfterMarketSession"
              },
              {
                "type": "null"
              }
            ]
          },
          "preMarket": {
            "description": "프리마켓 (NXT 접속매매). NXT 프리마켓이 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PreMarketSession"
              },
              {
                "type": "null"
              }
            ]
          },
          "regularMarket": {
            "description": "정규장. KRX·NXT 정규장의 합집합. 둘 다 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/RegularMarketSession"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object"
      },
      "InvestorTradingAmount": {
        "properties": {
          "buyAmount": {
            "description": "매수 거래대금 (KRW, 정수)",
            "example": "5200000000000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "sellAmount": {
            "description": "매도 거래대금 (KRW, 정수)",
            "example": "5350000000000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "buyAmount",
          "sellAmount"
        ],
        "type": "object"
      },
      "InvestorTradingRecord": {
        "properties": {
          "date": {
            "description": "집계 기준일. `interval` 이 나타내는 집계 기간의 대표 일자",
            "example": "2026-06-11",
            "format": "date",
            "type": "string"
          },
          "foreigner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "외국인 합계 (등록·미등록 외국인 포함)"
          },
          "individual": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "개인"
          },
          "institution": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InstitutionTradingAmount"
              }
            ],
            "description": "기관 합계. `buyAmount`/`sellAmount` 는 `breakdown` 7개 항목의 합과 일치합니다"
          },
          "otherCorporation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InvestorTradingAmount"
              }
            ],
            "description": "기타법인"
          },
          "updatedAt": {
            "description": "해당 기록의 마지막 갱신 시각. 당일 기록은 장 종료 전까지 갱신될 수 있으므로,\n이 값으로 확정치·잠정치 여부를 판단할 수 있습니다.\n",
            "example": "2026-06-11T18:10:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "date",
          "updatedAt",
          "individual",
          "foreigner",
          "institution",
          "otherCorporation"
        ],
        "type": "object"
      },
      "InvestorTradingResponse": {
        "properties": {
          "nextUntil": {
            "description": "다음 페이지 조회 기준일. 다음 페이지 조회 시 `until` 쿼리 파라미터에 그대로 전달. 더 이상 데이터가 없으면 null",
            "example": "2026-06-09",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          },
          "records": {
            "description": "집계 기간별 매매대금 기록 목록 (최신순). 데이터가 없으면 빈 배열",
            "items": {
              "$ref": "#/components/schemas/InvestorTradingRecord"
            },
            "type": "array"
          }
        },
        "required": [
          "records"
        ],
        "type": "object"
      },
      "InvestorTradingVolume": {
        "properties": {
          "buyVolume": {
            "description": "매수 거래량 (주, 정수)",
            "example": "8412300",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "netBuyVolume": {
            "description": "순매수 거래량 (주, 정수). 매수 거래량 − 매도 거래량, 음수면 순매도",
            "example": "291850",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "sellVolume": {
            "description": "매도 거래량 (주, 정수)",
            "example": "8120450",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "buyVolume",
          "sellVolume",
          "netBuyVolume"
        ],
        "type": "object"
      },
      "KrMarketCalendarResponse": {
        "properties": {
          "nextBusinessDay": {
            "$ref": "#/components/schemas/KrMarketDay"
          },
          "previousBusinessDay": {
            "$ref": "#/components/schemas/KrMarketDay"
          },
          "today": {
            "$ref": "#/components/schemas/KrMarketDay"
          }
        },
        "required": [
          "today",
          "previousBusinessDay",
          "nextBusinessDay"
        ],
        "type": "object"
      },
      "KrMarketDay": {
        "properties": {
          "date": {
            "description": "영업일 (KST 기준)",
            "example": "2026-03-25",
            "format": "date",
            "type": "string"
          },
          "integrated": {
            "description": "거래 가능 시간 (통합 모드 (KRX+NXT) 기준). 둘 다 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IntegratedHour"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "date"
        ],
        "type": "object"
      },
      "KrMarketDetail": {
        "properties": {
          "krxTradingSuspended": {
            "description": "KRX 거래정지 여부",
            "example": false,
            "type": "boolean"
          },
          "liquidationTrading": {
            "description": "정리매매 여부 (상장폐지 절차 진행 중).",
            "example": false,
            "type": "boolean"
          },
          "nxtSupported": {
            "description": "NXT 대체거래소 지원 여부",
            "example": true,
            "type": "boolean"
          },
          "nxtTradingSuspended": {
            "description": "NXT 거래정지 여부. NXT 미지원 종목(nxtSupported=false)은 null",
            "example": false,
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "required": [
          "liquidationTrading",
          "nxtSupported",
          "krxTradingSuspended"
        ],
        "type": "object"
      },
      "ListedStock": {
        "properties": {
          "isCommonShare": {
            "description": "보통주 여부",
            "example": true,
            "type": "boolean"
          },
          "isinCode": {
            "description": "ISIN 코드",
            "example": "KR7005930003",
            "type": "string"
          },
          "name": {
            "description": "종목명 (한글)",
            "example": "삼성전자",
            "type": "string"
          },
          "securityType": {
            "description": "종목 유형",
            "enum": [
              "STOCK",
              "FOREIGN_STOCK",
              "DEPOSITARY_RECEIPT",
              "INFRASTRUCTURE_FUND",
              "REIT",
              "ETF",
              "FOREIGN_ETF",
              "ETN",
              "STOCK_WARRANTS"
            ],
            "example": "STOCK",
            "type": "string"
          },
          "symbol": {
            "description": "종목 심볼.",
            "example": "005930",
            "type": "string"
          }
        },
        "required": [
          "symbol",
          "name",
          "securityType",
          "isCommonShare",
          "isinCode"
        ],
        "type": "object"
      },
      "MarketCountry": {
        "description": "시장 국가 구분.\n- KR: 국내 주식 (KRX)\n- US: 미국 주식 (NYSE, NASDAQ 등)\n\n클라이언트는 unknown enum 값을 허용하도록 구현해야 합니다.\n",
        "enum": [
          "KR",
          "US"
        ],
        "type": "string"
      },
      "MarketIndicatorCandle": {
        "properties": {
          "closePrice": {
            "description": "종가",
            "example": "2812.45",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "highPrice": {
            "description": "고가",
            "example": "2820.15",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "lowPrice": {
            "description": "저가",
            "example": "2790.1",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "openPrice": {
            "description": "시가",
            "example": "2798.32",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "timestamp": {
            "description": "봉 시작 시각",
            "example": "2026-06-11T09:00:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "volume": {
            "description": "거래량",
            "example": "542000000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "timestamp",
          "openPrice",
          "highPrice",
          "lowPrice",
          "closePrice",
          "volume"
        ],
        "type": "object"
      },
      "MarketIndicatorCandlePageResponse": {
        "properties": {
          "candles": {
            "description": "캔들 목록",
            "items": {
              "$ref": "#/components/schemas/MarketIndicatorCandle"
            },
            "type": "array"
          },
          "nextBefore": {
            "description": "다음 페이지 조회 시 `before` 쿼리 파라미터에 그대로 전달. 마지막 페이지면 null.",
            "format": "date-time",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "candles"
        ],
        "type": "object"
      },
      "MarketIndicatorPriceResponse": {
        "properties": {
          "lastPrice": {
            "description": "현재가. 시장 호가 그대로이며, 통화·단위는 심볼 카탈로그를 따릅니다",
            "example": "2812.45",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "symbol": {
            "description": "시장 지표 심볼. `GET /api/v1/market-indicators/prices` 의 심볼 카탈로그 참조",
            "example": "KOSPI",
            "type": "string"
          },
          "timestamp": {
            "description": "데이터 시각. 데이터 미제공 시 null",
            "example": "2026-06-11T15:30:00+09:00",
            "format": "date-time",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "symbol",
          "lastPrice"
        ],
        "type": "object"
      },
      "MarketValue": {
        "description": "시장 평가. 거래 통화(currency) 기준",
        "properties": {
          "amount": {
            "description": "시장 평가금액",
            "example": "7200000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "amountAfterCost": {
            "description": "세금/수수료 공제 후 평가금액",
            "example": "7050000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "purchaseAmount": {
            "description": "매입금액",
            "example": "6500000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "purchaseAmount",
          "amount",
          "amountAfterCost"
        ],
        "type": "object"
      },
      "OAuth2ErrorResponse": {
        "description": "OAuth2 토큰 발급 실패 응답.\n`/oauth2/token` 엔드포인트는 BFF 공통 `ErrorResponse` envelope 이 아닌 OAuth2 표준 포맷으로 응답합니다.\n클라이언트는 `code` 가 아닌 `error` 필드로 에러를 식별해야 합니다.\n",
        "properties": {
          "error": {
            "description": "에러 코드.",
            "enum": [
              "invalid_request",
              "invalid_client",
              "invalid_grant",
              "unauthorized_client",
              "unsupported_grant_type",
              "access_denied"
            ],
            "type": "string"
          },
          "error_description": {
            "description": "에러 상세 설명 (선택). 메시지에 non-ASCII 문자가 포함되는 경우 생략될 수 있습니다.\n",
            "example": "Client authentication failed.",
            "type": "string"
          },
          "error_uri": {
            "description": "에러 정보가 게시된 페이지 URI (선택).",
            "format": "uri",
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "type": "object"
      },
      "OAuth2TokenRequest": {
        "description": "OAuth2 Client Credentials Grant 토큰 발급 요청.\n`application/x-www-form-urlencoded` 으로 전송합니다.\n",
        "properties": {
          "client_id": {
            "description": "발급받은 클라이언트 ID",
            "example": "c_01HXYZABCDEFG123456789",
            "type": "string"
          },
          "client_secret": {
            "description": "발급받은 클라이언트 시크릿. 노출되지 않도록 서버 측에서만 사용합니다.",
            "format": "password",
            "type": "string"
          },
          "grant_type": {
            "description": "인증 방식. `client_credentials` 만 지원합니다.",
            "enum": [
              "client_credentials"
            ],
            "type": "string"
          }
        },
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "type": "object"
      },
      "OAuth2TokenResponse": {
        "description": "토큰 발급 성공 응답.\nBFF 의 공통 `ApiResponse` envelope 을 사용하지 않고 OAuth2 표준 형식으로 응답합니다.\n",
        "properties": {
          "access_token": {
            "description": "JWT 형식의 access token. 모든 API 요청의 `Authorization: Bearer` 헤더에 담습니다.",
            "example": "eyJraWQiOiIyMDI2LTA0LTAxLWtleSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiJjXzAxSFhZWiJ9...",
            "type": "string"
          },
          "expires_in": {
            "description": "토큰 만료까지 남은 초.",
            "example": 86400,
            "format": "int64",
            "type": "integer"
          },
          "token_type": {
            "description": "토큰 타입. 항상 `Bearer`.",
            "enum": [
              "Bearer"
            ],
            "example": "Bearer",
            "type": "string"
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ],
        "type": "object"
      },
      "Order": {
        "properties": {
          "canceledAt": {
            "description": "취소 시간 (ISO 8601, KST). 해당 없으면 null",
            "example": null,
            "format": "date-time",
            "type": [
              "string",
              "null"
            ]
          },
          "currency": {
            "$ref": "#/components/schemas/Currency",
            "example": "KRW"
          },
          "execution": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrderExecution"
              }
            ],
            "description": "체결 결과. 체결 내역이 없으면 filledQuantity=0",
            "type": "object"
          },
          "orderAmount": {
            "description": "주문 금액 (USD). 금액 기반 US 시장가 매수 주문에만 해당. 그 외 null",
            "example": null,
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          },
          "orderId": {
            "description": "주문 식별자",
            "example": "bAGzNvMOOTa5Uy0xVzYNbxDJ3Qpobwau4jDF3hyZZGWbpHm7wha8CFZc7aXVOWAl",
            "type": "string"
          },
          "orderType": {
            "description": "호가 유형.\n- `LIMIT`: 지정가\n- `MARKET`: 시장가\n\n클라이언트는 unknown code 를 허용하도록 구현해야 합니다.\n",
            "enum": [
              "LIMIT",
              "MARKET"
            ],
            "example": "LIMIT",
            "type": "string"
          },
          "orderedAt": {
            "description": "주문 시간 (ISO 8601, KST)",
            "example": "2026-03-29T09:30:00.000+09:00",
            "format": "date-time",
            "type": "string"
          },
          "price": {
            "description": "주문 가격 (native currency). MARKET 주문 시 null",
            "example": "70000",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          },
          "quantity": {
            "description": "주문 수량",
            "example": "10",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "side": {
            "description": "주문 방향",
            "enum": [
              "BUY",
              "SELL"
            ],
            "example": "BUY",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          },
          "symbol": {
            "description": "종목 심볼. KRX: 6자리 숫자, US: 영문 티커",
            "example": "005930",
            "type": "string"
          },
          "timeInForce": {
            "description": "주문 유효 조건 (Time In Force). `orderType` 과 결합되어 주문 방식이 결정됩니다 (예: `LIMIT` + `CLS` = LOC).\n- `DAY`: 당일 유효 (Day)\n- `CLS`: 장 마감 주문 (At the Close)\n- `OPG`: 장 개시 주문 (At the Opening, 국내 시가단일가)\n\n클라이언트는 unknown code 를 허용하도록 구현해야 합니다.\n",
            "enum": [
              "DAY",
              "CLS",
              "OPG"
            ],
            "example": "DAY",
            "type": "string"
          }
        },
        "required": [
          "orderId",
          "symbol",
          "side",
          "orderType",
          "timeInForce",
          "status",
          "quantity",
          "currency",
          "orderedAt",
          "execution"
        ],
        "type": "object"
      },
      "OrderCreateRequest": {
        "oneOf": [
          {
            "description": "수량 기반 주문. quantity 로 주문 수량을 지정.",
            "properties": {
              "clientOrderId": {
                "description": "클라이언트 지정 주문 식별자. 멱등성 키로 사용됩니다.\n- 미전달: 멱등성 미적용. 매 요청을 별개 주문으로 처리합니다.\n- 전달: 동일 값으로 재요청 시 이전 주문 결과를 그대로 재반환합니다.\n서버는 자동 생성하지 않습니다.\n최대 36자, 영숫자 및 `-`, `_` 허용.\n멱등성 키는 10분간 유효하며, 이후 동일 값으로 재요청 시 새 주문으로 처리됩니다.\n",
                "example": "my-order-001",
                "maxLength": 36,
                "pattern": "^[a-zA-Z0-9\\-_]+$",
                "type": "string"
              },
              "confirmHighValueOrder": {
                "default": false,
                "description": "착오주문 방지를 위한 주문 확인 플래그. 기본값 `false`.\n1억원 이상의 주문 시 `true`가 아니면 `400 confirm-high-value-required` 에러를 반환합니다.\n사용자가 해당 주문의 금액을 인지하고 있음을 표시하기 위한 필드입니다.\n",
                "example": false,
                "type": "boolean"
              },
              "orderType": {
                "description": "호가 유형.\n- `LIMIT`: 지정가\n- `MARKET`: 시장가\n",
                "enum": [
                  "LIMIT",
                  "MARKET"
                ],
                "example": "LIMIT",
                "type": "string"
              },
              "price": {
                "description": "주문 가격. `orderType`이 `LIMIT` 일 때만 사용합니다.\n- `LIMIT`: 필수. 미전달 시 `400 invalid-request`.\n- `MARKET`: 전달 불가. 전달 시 `400 invalid-request`.\n- KR: 정수 (원 단위). 호가 단위에 맞아야 합니다 (예: 50,000~200,000원 구간은 100원 단위). 맞지 않으면 `400 invalid-request` 에러와 함께 올바른 호가 단위가 `data`에 포함됩니다.\n- US: 소수점 (달러 단위).\n  - $1 미만: 소수점 넷째 자리까지 (그 이하 자릿수는 절삭).\n  - $1 이상: 소수점 둘째 자리까지 (그 이하 자릿수는 절삭).\n",
                "example": "70000",
                "format": "decimal",
                "maxLength": 30,
                "pattern": "^\\d+(\\.\\d+)?$",
                "type": "string"
              },
              "quantity": {
                "description": "주문 수량 (주 단위). 지정한 수량만큼 주문합니다.\n- 기본: 양의 정수만 가능합니다.\n- 소수점 수량: 미국 주식 시장가 매도(`orderType=MARKET` + `side=SELL`) 주문에만 허용됩니다.\n  그 외(매수/지정가/국내) 소수점 수량은 `400 invalid-request` 를 반환합니다.\n  소수점 매수는 `orderAmount` 를 사용하세요.\n  소수점 수량 매도는 정규장 시작부터 정규장 종료 1시간 전까지만 접수 가능하며, 그 외 시간 요청 시 `422 fractional-quantity-outside-regular-hours` 를 반환합니다.\n  소수점 수량은 소수점 6자리까지 지원하며, 초과 시 `400 invalid-request` (`fractional-quantity-scale-exceeded`) 를 반환합니다.\n",
                "example": "10",
                "format": "decimal",
                "maxLength": 30,
                "pattern": "^\\d+(\\.\\d+)?$",
                "type": "string"
              },
              "side": {
                "description": "주문 방향",
                "enum": [
                  "BUY",
                  "SELL"
                ],
                "example": "BUY",
                "type": "string"
              },
              "symbol": {
                "description": "종목 심볼. KRX: 6자리 숫자, US: 영문 티커",
                "example": "005930",
                "type": "string"
              },
              "timeInForce": {
                "default": "DAY",
                "description": "주문 유효 조건 (Time In Force). 미전달 시 `DAY`. `orderType` 과 결합되어 주문 방식이 결정됩니다 (예: `LIMIT` + `CLS` = LOC).\n- `DAY`: 당일 유효 (Day). 정규장 종료까지 미체결분은 자동 취소됩니다.\n- `CLS`: 장 마감 주문 (At the Close). 현재 미국 주식 + `orderType=LIMIT` 조합만 지원합니다.\n- `OPG`: 장 개시 주문 (At the Opening, 국내 시가단일가). 현재 국내 주식 전용이며 `orderType` 은 `LIMIT`/`MARKET` 모두 지원합니다. 세션 시간(장전 사전접수) 외 접수는 원장에서 거절될 수 있습니다.\n",
                "enum": [
                  "DAY",
                  "CLS",
[...]
