{
  "openapi": "3.1.0",
  "info": {
    "title": "토스증권 Open API",
    "version": "1.1.1"
  },
  "servers": [
    {
      "url": "https://openapi.tossinvest.com"
    }
  ],
  "paths": {
    "/api/v1/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "계좌 목록 조회",
        "description": "사용자의 계좌 목록을 조회합니다.\n\n- 현재는 **종합매매 (`BROKERAGE`) 계좌만 반환**하며, 계좌가 없으면 빈 배열. 자녀계좌는 사용할 수 없습니다.\n- 응답의 `accountSeq` 는 **다른 모든 사용자 컨텍스트 API** (보유 주식, 주문, 매수가능금액 등) 의 `X-Tossinvest-Account` 헤더에 사용합니다.\n- `accountType` enum 은 `BROKERAGE` / `OVERSEAS_DERIVATIVES` / `PENSION_SAVINGS` / `RESHORING_INVESTMENT` 가 정의되어 있으나 본 API 에서는 현재 `BROKERAGE` 만 노출됩니다. enum 의미는 `Account.accountType` schema 참조.\n\n**Rate Limits Group**: `ACCOUNT`\n",
        "operationId": "getAccounts"
      }
    },
    "/api/v1/buying-power": {
      "get": {
        "tags": [
          "Order Info"
        ],
        "summary": "매수 가능 금액 조회",
        "description": "매수 주문 시 사용할 수 있는 매수 가능 금액을 조회합니다.\n미수거래를 제외한 현금 기반 매수 가능 금액(미수 미발생 기준)을 반환합니다.\n\n**Rate Limits Group**: `ORDER_INFO`\n",
        "operationId": "getBuyingPower",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "currency",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/candles": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "캔들 차트 조회",
        "description": "종목의 캔들(OHLCV) 차트 데이터를 조회합니다. 최대 200개 봉을 반환합니다.\n\n**Rate Limits Group**: `MARKET_DATA_CHART`\n",
        "operationId": "getCandles",
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          },
          {
            "name": "interval",
            "in": "query"
          },
          {
            "name": "count",
            "in": "query"
          },
          {
            "name": "before",
            "in": "query"
          },
          {
            "name": "adjusted",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/commissions": {
      "get": {
        "tags": [
          "Order Info"
        ],
        "summary": "매매 수수료 조회",
        "description": "현재 계좌의 시장별 매매 수수료율을 조회합니다.\n국내주식과 해외주식의 수수료 정보를 배열로 반환합니다.\n\n**Rate Limits Group**: `ORDER_INFO`\n",
        "operationId": "getCommissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          }
        ]
      }
    },
    "/api/v1/exchange-rate": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "환율 조회",
        "description": "KRW ↔ USD 환율 정보를 조회합니다.\n\n- **갱신 주기 1분**, 참고용 표시 환율. 실제 주문 시 적용되는 거래 환율과 다를 수 있습니다.\n- `dateTime` 미지정 시 **현재 시점의 유효 환율**이 응답됩니다.\n- 응답의 `validFrom` ~ `validUntil` 은 해당 환율의 **유효 시간 윈도** (보통 1분) 입니다.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getExchangeRate",
        "parameters": [
          {
            "name": "dateTime",
            "in": "query"
          },
          {
            "name": "baseCurrency",
            "in": "query"
          },
          {
            "name": "quoteCurrency",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/holdings": {
      "get": {
        "tags": [
          "Asset"
        ],
        "summary": "보유 주식 조회",
        "description": "보유 주식 정보를 조회합니다.\n국내(KR)·미국(US) 주식만 포함하며, 해외 옵션·채권은 제외합니다.\n보유 종목이 없으면 요약 금액은 0이고 items는 빈 배열입니다.\n\n**Rate Limits Group**: `ASSET`\n",
        "operationId": "getHoldings",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "symbol",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/market-calendar/KR": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "국내 장 운영 정보 조회",
        "description": "국내 시장의 거래 가능 시간을 조회합니다. 통합 모드 (KRX+NXT) 기준이며, 특수장(시간외종가/시간외단일가)은 제외됩니다. 전일/당일/익일 3영업일 정보를 반환합니다. 모든 시간은 KST(+09:00) 기준.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getKrMarketCalendar",
        "parameters": [
          {
            "name": "date",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/market-calendar/US": {
      "get": {
        "tags": [
          "Market Info"
        ],
        "summary": "해외 장 운영 정보 조회",
        "description": "미국 시장의 장 운영 시간을 조회합니다. 4 세션(`dayMarket`, `preMarket`, `regularMarket`, `afterMarket`) 별로 nullable. 휴장 시 4 세션 모두 null. 전일/당일/익일 3영업일 정보를 반환합니다. 모든 시간은 KST(+09:00) 기준.\n\n**Rate Limits Group**: `MARKET_INFO`\n",
        "operationId": "getUsMarketCalendar",
        "parameters": [
          {
            "name": "date",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/orderbook": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "호가 조회",
        "description": "매수/매도 호가 및 잔량을 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getOrderbook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ]
      }
    },
    "/api/v1/orders": {
      "get": {
        "tags": [
          "Order History"
        ],
        "summary": "주문 목록 조회",
        "description": "주문 목록을 조회합니다.\nstatus 파라미터로 주문 상태를 필터링합니다.\n\n**지원하는 status 값:**\n- 진행 중 주문: `OPEN` -- PENDING, PARTIAL_FILLED, PENDING_CANCEL, PENDING_REPLACE 상태의 주문을 반환\n- 종료된 주문: `CLOSED` -- FILLED, CANCELED, REJECTED, REPLACED 등 종료 상태 주문을 반환합니다.\n\nsymbol을 지정하면 해당 종목의 주문만 필터링하여 반환합니다.\n\n**페이징 동작:**\n- `status=OPEN`: 모든 대기 중 주문을 전량 반환합니다. `limit`, `cursor` 는 무시되며, `from`/`to` 만 주문 생성일(`orderedAt`, KST 기준) 범위 필터로 적용됩니다 (미지정 시 전체 기간).\n- `status=CLOSED`: `limit` (기본 20, 최대 100), `cursor`, `from`/`to` 파라미터 모두 적용됩니다.\n\n**Rate Limits Group**: `ORDER_HISTORY`\n",
        "operationId": "getOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "name": "status",
            "in": "query"
          },
          {
            "name": "symbol",
            "in": "query"
          },
          {
            "name": "from",
            "in": "query"
          },
          {
            "name": "to",
            "in": "query"
          },
          {
            "name": "cursor",
            "in": "query"
          },
          {
            "name": "limit",
            "in": "query"
          }
        ]
      },
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "주문 생성",
        "description": "매수 또는 매도 주문을 생성합니다.\n\n**수량 지정 방식** — `quantity`, `orderAmount` 중 정확히 하나를 사용:\n- `quantity`: 주문 수량 (주 단위). 지정한 수량만큼 주문\n- `orderAmount`: 주문 금액 (달러). 지정한 금액만큼 주문하며, 체결 수량은 시장가에 따라 결정. US MARKET 전용\n\n**금액 주문 (`orderAmount`)**: 정규장 시간에만 가능합니다. 정규장 외 시간에 호출 시 `422 amount-order-outside-regular-hours` 를 반환합니다.\n\n**Rate Limits Group**: `ORDER`\n",
        "operationId": "createOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          }
        ]
      }
    },
    "/api/v1/orders/{orderId}": {
      "get": {
        "tags": [
          "Order History"
        ],
        "summary": "주문 상세 조회",
        "description": "특정 주문의 상세 정보를 조회합니다.\n모든 주문 상태(체결 완료, 취소, 거부 등)의 주문을 조회할 수 있습니다.\n\n**Rate Limits Group**: `ORDER_HISTORY`\n",
        "operationId": "getOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ]
      }
    },
    "/api/v1/orders/{orderId}/cancel": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "주문 취소",
        "description": "기존 주문을 취소합니다. 이미 체결된 주문은 취소할 수 없습니다.\n\n**Rate Limits Group**: `ORDER`\n",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ]
      }
    },
    "/api/v1/orders/{orderId}/modify": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "주문 정정",
        "description": "기존 주문의 가격 또는 수량을 정정합니다.\n\n**KR 주식:** `quantity` 필수. 양의 정수만 허용합니다.\n\n**US 주식:** `quantity` 제공 불가. 가격 변경만 지원합니다. `quantity` 제공 시 `400 us-modify-quantity-not-supported` 에러를 반환합니다.\n\n**Rate Limits Group**: `ORDER`\n",
        "operationId": "modifyOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ]
      }
    },
    "/api/v1/price-limits": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "상/하한가 조회",
        "description": "종목의 당일 상한가 및 하한가를 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getPriceLimit",
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ]
      }
    },
    "/api/v1/prices": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "현재가 조회",
        "description": "종목의 현재가 정보를 조회합니다. 최대 200건 까지 다건 조회를 지원하며 콤마(`,`)로 구분합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getPrices",
        "parameters": [
          {
            "name": "symbols",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/sellable-quantity": {
      "get": {
        "tags": [
          "Order Info"
        ],
        "summary": "판매 가능 수량 조회",
        "description": "특정 종목의 판매 가능 수량을 조회합니다.\n\n**Rate Limits Group**: `ORDER_INFO`\n",
        "operationId": "getSellableQuantity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountSeq"
          },
          {
            "$ref": "#/components/parameters/SymbolQuery"
          }
        ]
      }
    },
    "/api/v1/stocks": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "종목 기본 정보 조회",
        "description": "종목의 기본 정보를 조회합니다. `symbols` 를 콤마로 구분하여 최대 200건 까지 다건 조회를 지원합니다.\n종목명, 시장, 통화, 상장 상태, 거래정지 여부 등 트레이딩에서 필요한 참조 데이터를 제공합니다.\n\n**Rate Limits Group**: `STOCK`\n",
        "operationId": "getStocks",
        "parameters": [
          {
            "name": "symbols",
            "in": "query"
          }
        ]
      }
    },
    "/api/v1/stocks/{symbol}/warnings": {
      "get": {
        "tags": [
          "Stock Info"
        ],
        "summary": "매수 유의사항 조회",
        "description": "종목의 매수 유의사항 및 변동성 완화(VI) 발동 정보를 조회합니다.\n\n**포함 종류**: 정리매매(`LIQUIDATION_TRADING`), 단기과열종목(`OVERHEATED`), 투자경고(`INVESTMENT_WARNING`), 투자위험(`INVESTMENT_RISK`), VI 정적/동적/혼합(`VI_STATIC` / `VI_DYNAMIC` / `VI_STATIC_AND_DYNAMIC`), 신주인수권(`STOCK_WARRANTS`). 전체 enum 은 `StockWarning.warningType` 참조.\n\n**\"활성\"의 시간 기준**: 응답 시점 기준으로 `startDate \u003c= 오늘 \u003c= endDate` 인 항목 (또는 `endDate` 가 `null` 인 진행 중 항목).\n\n**응답 정렬**: `startDate` 내림차순 (최근 발동된 항목부터). `startDate` 가 동일한 경우 정렬 순서는 보장되지 않습니다.\n\n**데이터 적시성**: VI 발동/해제는 거래소 이벤트 발생 후 수 초 내 반영됩니다. 정리매매·단기과열·투자경고/위험 지정은 거래소 공시 기준 일배치로 반영됩니다.\n\n**미존재 vs 빈 배열**:\n- 종목 자체가 없으면 `404 stock-not-found`.\n- 종목은 있으나 활성 유의사항이 없으면 `200 OK` + `result: []`.\n\n**Rate Limits Group**: `STOCK`\n",
        "operationId": "getStockWarnings",
        "parameters": [
          {
            "$ref": "#/components/parameters/Symbol"
          }
        ]
      }
    },
    "/api/v1/trades": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "최근 체결 내역 조회",
        "description": "당일 최근 체결 내역을 조회합니다.\n\n**Rate Limits Group**: `MARKET_DATA`\n",
        "operationId": "getTrades",
        "parameters": [
          {
            "$ref": "#/components/parameters/SymbolQuery"
          },
          {
            "name": "count",
            "in": "query"
          }
        ]
      }
    },
    "/oauth2/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "OAuth2 액세스 토큰 발급",
        "description": "OAuth 2.0 Client Credentials Grant 로 access token 을 발급합니다.\n\n- 요청 본문은 `application/x-www-form-urlencoded` 으로 전송합니다.\n- 발급된 token 은 다른 모든 API 의 `Authorization: Bearer {access_token}` 헤더에 사용합니다.\n- 응답 형식은 BFF 공통 envelope 이 아닌 OAuth2 표준 형식을 따릅니다.\n- refresh token 은 제공되지 않습니다. 만료 시 동일 엔드포인트로 재발급합니다.\n- client 당 유효한 access token 은 1 개입니다. 재발급 시 이전에 발급된 token 은 즉시 무효화됩니다.\n\n**Rate Limits Group**: `AUTH`\n",
        "operationId": "issueOAuth2Token"
      }
    }
  },
  "components": {
    "headers": {
      "WWWAuthenticate": {
        "description": "OAuth 2.0 Bearer 토큰 챌린지.\n401 응답에 포함됩니다. 메시지에 non-ASCII 문자가 포함되는 경우 `error_description` 파라미터는 생략됩니다.\n",
        "example": "Bearer realm=\"openapi\", error=\"invalid_token\", error_description=\"Token has expired\"",
        "schema": {
          "type": "string"
        }
      },
      "XRequestId": {
        "description": "요청 식별자. 모든 응답(성공·실패) 에 포함되며, 본문 `error.requestId` 와 동일한 값입니다.\nCS 문의 시 첨부를 권장합니다.\n",
        "example": "01HXYZABCDEFG123456789",
        "schema": {
          "type": "string"
        }
      }
    },
    "parameters": {
      "AccountSeq": {
        "description": "API 요청 시 사용할 계좌의 accountSeq.\n`GET /api/v1/accounts` 응답의 `accountSeq` 값을 사용합니다.\n",
        "example": 1,
        "in": "header",
        "name": "X-Tossinvest-Account",
        "required": true,
        "schema": {
          "format": "int64",
          "type": "integer"
        }
      },
      "OrderId": {
        "description": "주문 식별자.\n서버에서 발급한 opaque token 입니다.\n",
        "example": "0d5QIHjmtksbsmM-hBRAgP-ExI8iodGm9fAR5txelPfnMM8XQ_swoJdwL5RpGWMo",
        "in": "path",
        "name": "orderId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Symbol": {
        "description": "종목 심볼. KRX: 6자리 숫자 (예: 005930), US: 영문 티커 (예: AAPL). 영문 대/소문자, 숫자, '.', '-' 만 허용한다.",
        "examples": {
          "krx": {
            "summary": "삼성전자",
            "value": "005930"
          },
          "us": {
            "summary": "Apple",
            "value": "AAPL"
          }
        },
        "in": "path",
        "name": "symbol",
        "required": true,
        "schema": {
          "pattern": "^[A-Za-z0-9.\\-]+$",
          "type": "string"
        }
      },
      "SymbolQuery": {
        "description": "종목 심볼. KRX: 6자리 숫자 (예: 005930), US: 영문 티커 (예: AAPL). 영문 대/소문자, 숫자, '.', '-' 만 허용한다.",
        "examples": {
          "krx": {
            "summary": "삼성전자",
            "value": "005930"
          },
          "us": {
            "summary": "Apple",
            "value": "AAPL"
          }
        },
        "in": "query",
        "name": "symbol",
        "required": true,
        "schema": {
          "pattern": "^[A-Za-z0-9.\\-]+$",
          "type": "string"
        }
      }
    },
    "responses": {
      "AccountHeaderRequired": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "account-header-required",
                "message": "x-tossinvest-account 헤더가 필요합니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "X-Tossinvest-Account 헤더 누락"
      },
      "Forbidden": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "forbidden",
                "message": "요청에 필요한 권한이 부족합니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "권한 부족"
      },
      "InternalErrorAsset": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "보유 자산 조회 중 일시적 오류"
      },
      "InternalErrorMarketData": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "시세 조회 중 일시적 오류"
      },
      "InternalErrorMarketInfo": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "시장 정보 조회 중 일시적 오류"
      },
      "InternalErrorOrder": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "주문 처리 중 일시적 오류"
      },
      "InternalErrorOrderHistory": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "주문 조회 중 일시적 오류"
      },
      "InternalErrorOrderInfo": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "거래 가능 정보 조회 중 일시적 오류"
      },
      "InternalErrorStock": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "종목 심볼 조회 중 일시적 오류"
      },
      "NotFound": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "stock-not-found",
                "message": "종목을 찾을 수 없습니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "종목을 찾을 수 없음"
      },
      "OrderInfoAccountNotFound": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "account-not-found",
                "message": "계좌를 찾을 수 없습니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "조회 가능한 계좌가 없음"
      },
      "OrderNotFound": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "order-not-found",
                "message": "주문을 찾을 수 없습니다.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "주문을 찾을 수 없음"
      },
      "RateLimitExceeded": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "rate-limit-exceeded",
                "message": "요청 한도를 초과했습니다. 잠시 후 다시 시도해 주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "요청 한도 초과. 포함 헤더의 의미는 아래 `headers` 정의를 참조합니다.",
        "headers": {
          "Retry-After": {
            "description": "재시도 권장 초",
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Limit": {
            "description": "현재 허용된 초당 요청 수 (burst capacity)",
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "description": "현재 버킷에 남은 토큰 수. 429 시 0.",
            "example": 0,
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Reset": {
            "description": "토큰 1 개가 재충전될 때까지 예상 초",
            "example": 1,
            "schema": {
              "type": "integer"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "content": {
          "application/json": {
            "example": {
              "error": {
                "code": "internal-error",
                "message": "처리 중 문제가 생겼어요. 잠시 후 다시 시도해주세요.",
                "requestId": "01HXYZABCDEFG123456789"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "서비스 일시 불가"
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "examples": {
              "expiredToken": {
                "summary": "만료된 토큰",
                "value": {
                  "error": {
                    "code": "expired-token",
                    "message": "토큰이 만료되었습니다.",
                    "requestId": "01HXYZABCDEFG123456789"
                  }
                }
              },
              "invalidToken": {
                "summary": "유효하지 않은 토큰",
                "value": {
                  "error": {
                    "code": "invalid-token",
                    "message": "유효하지 않은 토큰입니다.",
                    "requestId": "01HXYZABCDEFG123456789"
                  }
                }
              },
              "loginUserNotFound": {
                "summary": "로그인 정보 없음",
                "value": {
                  "error": {
                    "code": "login-user-not-found",
                    "message": "로그인 정보를 찾을 수 없습니다.",
                    "requestId": "01HXYZABCDEFG123456789"
                  }
                }
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description": "인증 실패. `WWW-Authenticate: Bearer ...` 헤더가 함께 내려갑니다.\n",
        "headers": {
          "WWW-Authenticate": {
            "description": "OAuth 2.0 Bearer 토큰 챌린지. 메시지에 non-ASCII 문자가 포함되는 경우\n`error_description` 파라미터는 생략됩니다.\n",
            "example": "Bearer realm=\"openapi\", error=\"invalid_token\", error_description=\"Token has expired\"",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "schemas": {
      "Account": {
        "properties": {
          "accountNo": {
            "description": "계좌번호",
            "example": "12345678901",
            "type": "string"
          },
          "accountSeq": {
            "description": "계좌 식별 키. 주문 등 API 호출 시 이 값을 사용",
            "example": 1,
            "format": "int64",
            "type": "integer"
          },
          "accountType": {
            "description": "계좌 유형. 현재는 BROKERAGE 만 지원합니다.\n- BROKERAGE: 종합매매. 국내·해외 주식 통합 매매 계좌\n- OVERSEAS_DERIVATIVES: 해외파생. 해외 파생상품 거래 계좌\n- PENSION_SAVINGS: 연금저축. 세제혜택 연금저축 계좌\n- RESHORING_INVESTMENT: RIA 계좌\n\n클라이언트는 unknown enum 값을 허용하도록 구현해야 합니다.\n",
            "enum": [
              "BROKERAGE",
              "OVERSEAS_DERIVATIVES",
              "PENSION_SAVINGS",
              "RESHORING_INVESTMENT"
            ],
            "example": "BROKERAGE",
            "type": "string"
          }
        },
        "required": [
          "accountNo",
          "accountSeq",
          "accountType"
        ],
        "type": "object"
      },
      "AfterMarketSession": {
        "description": "애프터마켓 세션 (NXT)",
        "properties": {
          "endTime": {
            "description": "애프터마켓 전체 종료",
            "example": "2026-03-25T20:00:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "singlePriceAuctionEndTime": {
            "description": "애프터마켓 내 시가단일가 구간 종료.",
            "example": "2026-03-25T15:40:00+09:00",
            "oneOf": [
              {
                "format": "date-time",
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startTime": {
            "description": "애프터마켓 시작",
            "example": "2026-03-25T15:30:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "startTime",
          "endTime"
        ],
        "type": "object"
      },
      "ApiError": {
        "description": "에러 객체. 에러 식별에 필요한 최소 정보(`requestId`, `code`, `message`)와\n필요 시 해결 힌트(`data`)를 포함합니다.\n",
        "properties": {
          "code": {
            "description": "에러 코드. flat string 식별자.\n도메인 에러는 이유를 직접 표현하는 단일 식별자 (예: `invalid-request`, `order-not-found`) 를 사용합니다.\n클라이언트는 unknown code 를 허용하도록 구현해야 합니다.\n",
            "example": "order-not-found",
            "type": "string"
          },
          "data": {
            "additionalProperties": true,
            "description": "에러 해결 힌트. 에러 코드별로 포함 여부와 키 구조가 다르며, 없는 경우 필드 자체가 생략됩니다.\n모든 표준 키가 항상 함께 내려가지 않으며, 각 에러 코드에 해당하는 서브셋만 포함됩니다.\n\n## 표준 키 (camelCase)\n\n| 키 | 타입 | 설명 |\n|---|---|---|\n| `field` | string | 검증 실패 원인 필드. 외부 API 에 노출된 이름 (request body JSON key 또는 query parameter name) 을 사용합니다. 복수 필드는 쉼표로 구분 (예: `\"quantity,orderAmount\"`). |\n| `allowedValues` | string[] | enum 후보 값 전체. |\n| `allowedConditions` | object | 조건부 허용 규칙 (`marketCountry` / `orderType` / `side` 등). |\n| `constraint` | object | 필드 제약 (`min` / `max` / `integerOnly` / `step`). |\n| `format` | string | 포맷 규칙명 (예: `decimal`). |\n| `pattern` | string | 정규식. |\n| `maxLength` | number | 문자열 길이 상한. |\n| `limits` | object | 금액 / 수량 한도 (`threshold` / `minimum` / `maximum` + `currency`). |\n| `retryAfterAt` | string | 절대 재시도 시각 (ISO 8601 offset, KST). |\n| `retryAfterSeconds` | number | 상대 재시도 시각 (초). |\n| `tickSize` | string | 호가 단위. |\n| `nearestPrices` | string[] | 근접 유효 가격 (`[lower, upper]`). |\n\n구체적인 에러 코드별 `data` 예시는 각 엔드포인트의 4xx / 5xx 응답 예시를 참고합니다.\n",
            "type": [
              "object",
              "null"
            ]
          },
          "message": {
            "description": "사용자에게 노출 가능한 에러 메시지. 내부 정책상 노출이 제한되는 경우 빈 문자열로 내려갈 수 있으므로\n클라이언트는 `code` 기반으로 메시지를 자체 매핑할 것을 권장합니다.\n",
            "example": "주문 방향이 올바르지 않습니다.",
            "type": "string"
          },
          "requestId": {
            "description": "요청을 식별하는 고유 ID. 응답 헤더 `X-Request-Id` 와 동일한 값입니다.\n토스증권 CS 문의 시 첨부를 권장합니다.\n",
            "example": "01HXYZABCDEFG123456789",
            "type": "string"
          }
        },
        "required": [
          "requestId",
          "code",
          "message"
        ],
        "type": "object"
      },
      "ApiResponse": {
        "description": "성공 응답 envelope. 200 응답에 사용됩니다.\n각 엔드포인트의 성공 응답 스키마는 `allOf` 로 본 스키마를 상속하며 `result` 를 구체 타입으로 specialize 합니다.\n실패 응답은 별도의 `ErrorResponse` 스키마를 사용합니다 (4xx/5xx). `result` 와 `error` 는 동시에 나타나지 않습니다.\n",
        "properties": {
          "result": {
            "description": "성공 응답의 페이로드. 엔드포인트별 타입이 다르며, 각 엔드포인트 스펙에서 `allOf` 로 구체 타입을 명시합니다.\n"
          }
        },
        "required": [
          "result"
        ],
        "type": "object"
      },
      "BuyingPowerResponse": {
        "properties": {
          "cashBuyingPower": {
            "description": "현금 기반 매수 가능 금액 (미수 미발생 기준).\n순수 현금으로 매수할 수 있는 금액.\nKRW: 정수 (원 단위). USD: 소수점 포함 (달러 단위).\n",
            "example": "5000000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          }
        },
        "required": [
          "currency",
          "cashBuyingPower"
        ],
        "type": "object"
      },
      "Candle": {
        "properties": {
          "closePrice": {
            "description": "종가",
            "example": "72000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "highPrice": {
            "description": "고가",
            "example": "72300",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "lowPrice": {
            "description": "저가",
            "example": "71500",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "openPrice": {
            "description": "시가",
            "example": "71600",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "timestamp": {
            "description": "봉 시작 시각",
            "example": "2026-03-25T09:00:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "volume": {
            "description": "거래량",
            "example": "3521000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "timestamp",
          "openPrice",
          "highPrice",
          "lowPrice",
          "closePrice",
          "volume",
          "currency"
        ],
        "type": "object"
      },
      "CandlePageResponse": {
        "properties": {
          "candles": {
            "description": "캔들 목록",
            "items": {
              "$ref": "#/components/schemas/Candle"
            },
            "type": "array"
          },
          "nextBefore": {
            "description": "다음 페이지 조회 시 `before` 쿼리 파라미터에 그대로 전달. 마지막 페이지면 null.",
            "format": "date-time",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "candles"
        ],
        "type": "object"
      },
      "Commission": {
        "properties": {
          "commissionRate": {
            "description": "수수료율 (%). 예: 0.015는 0.015%",
            "example": "0.015",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "endDate": {
            "description": "수수료 적용 종료일 (YYYY-MM-DD, KST 기준). 무기한 적용 시 null",
            "example": "2026-12-31",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          },
          "marketCountry": {
            "$ref": "#/components/schemas/MarketCountry"
          },
          "startDate": {
            "description": "수수료 적용 시작일 (YYYY-MM-DD, KST 기준). 해외주식은 null",
            "example": "2026-01-01",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "marketCountry",
          "commissionRate"
        ],
        "type": "object"
      },
      "Cost": {
        "description": "비용. 거래 통화(currency) 기준",
        "properties": {
          "commission": {
            "description": "수수료",
            "example": "14400",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "tax": {
            "description": "세금. 세금이 없는 경우 null",
            "example": "135600",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "commission"
        ],
        "type": "object"
      },
      "Currency": {
        "description": "통화 코드.\n- KRW: 한국 원화\n- USD: 미국 달러\n\n클라이언트는 unknown enum 값을 허용하도록 구현해야 합니다.\n",
        "enum": [
          "KRW",
          "USD"
        ],
        "type": "string"
      },
      "DailyProfitLoss": {
        "description": "일간 손익. 거래 통화(currency) 기준",
        "properties": {
          "amount": {
            "description": "일간 손익금액",
            "example": "100000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "rate": {
            "description": "일간 손익률. 소수비율 (0.0141 = 1.41%)",
            "example": "0.0141",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "amount",
          "rate"
        ],
        "type": "object"
      },
      "ErrorResponse": {
        "description": "에러 응답 envelope. 4xx/5xx 응답에 사용됩니다. 성공 응답은 별도의 `ApiResponse` 스키마를 사용합니다.\n",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "error"
        ],
        "type": "object"
      },
      "ExchangeRateResponse": {
        "properties": {
          "baseCurrency": {
            "$ref": "#/components/schemas/Currency",
            "description": "기준 통화",
            "example": "USD"
          },
          "basisPoint": {
            "description": "매매기준율(midRate) 대비 basis points. (rate - midRate) / midRate * 10000",
            "example": "40",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "midRate": {
            "description": "매매기준율 (은행간 mid rate)",
            "example": "1375",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "quoteCurrency": {
            "$ref": "#/components/schemas/Currency",
            "description": "표시 통화 (quote currency)",
            "example": "KRW"
          },
          "rate": {
            "description": "매수 환율 (1 baseCurrency = ? quoteCurrency)",
            "example": "1380.5",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "rateChangeType": {
            "description": "등락 구분",
            "enum": [
              "UP",
              "EQUAL",
              "DOWN"
            ],
            "example": "UP",
            "type": "string"
          },
          "validFrom": {
            "description": "환율 유효 시작 시각",
            "example": "2026-03-25T09:30:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "validUntil": {
            "description": "환율 유효 종료 시각",
            "example": "2026-03-25T09:31:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "baseCurrency",
          "quoteCurrency",
          "rate",
          "midRate",
          "basisPoint",
          "rateChangeType",
          "validFrom",
          "validUntil"
        ],
        "type": "object"
      },
      "HoldingsItem": {
        "properties": {
          "averagePurchasePrice": {
            "description": "매수 평균가. 거래 통화(currency) 기준",
            "example": "65000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "cost": {
            "$ref": "#/components/schemas/Cost"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "dailyProfitLoss": {
            "$ref": "#/components/schemas/DailyProfitLoss"
          },
          "lastPrice": {
            "description": "현재가. 거래 통화(currency) 기준",
            "example": "72000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "marketCountry": {
            "$ref": "#/components/schemas/MarketCountry"
          },
          "marketValue": {
            "$ref": "#/components/schemas/MarketValue"
          },
          "name": {
            "description": "종목명",
            "example": "삼성전자",
            "type": "string"
          },
          "profitLoss": {
            "$ref": "#/components/schemas/ProfitLoss"
          },
          "quantity": {
            "description": "보유 수량",
            "example": "100",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "symbol": {
            "description": "종목 심볼. KR: 6자리 숫자, US: 티커",
            "example": "005930",
            "type": "string"
          }
        },
        "required": [
          "symbol",
          "name",
          "marketCountry",
          "currency",
          "quantity",
          "lastPrice",
          "averagePurchasePrice",
          "marketValue",
          "profitLoss",
          "dailyProfitLoss",
          "cost"
        ],
        "type": "object"
      },
      "HoldingsOverview": {
        "properties": {
          "dailyProfitLoss": {
            "$ref": "#/components/schemas/OverviewDailyProfitLoss"
          },
          "items": {
            "description": "보유 종목 목록. 보유 종목이 없으면 빈 배열",
            "items": {
              "$ref": "#/components/schemas/HoldingsItem"
            },
            "type": "array"
          },
          "marketValue": {
            "$ref": "#/components/schemas/OverviewMarketValue"
          },
          "profitLoss": {
            "$ref": "#/components/schemas/OverviewProfitLoss"
          },
          "totalPurchaseAmount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Price"
              }
            ],
            "description": "투자원금. 전체 보유 종목의 통화별 합산"
          }
        },
        "required": [
          "totalPurchaseAmount",
          "marketValue",
          "profitLoss",
          "dailyProfitLoss",
          "items"
        ],
        "type": "object"
      },
      "IntegratedHour": {
        "description": "거래 가능 시간. 특수장(시간외종가/시간외단일가) 제외, 통합 모드 (KRX+NXT) 기준.\n세 세션(`preMarket`, `regularMarket`, `afterMarket`) 각각 nullable. 해당 세션이 휴장이면 null,\n세 세션 모두 null 이면 상위 `integrated` 자체가 null.\n",
        "properties": {
          "afterMarket": {
            "description": "애프터마켓 (NXT). NXT 애프터마켓이 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AfterMarketSession"
              },
              {
                "type": "null"
              }
            ]
          },
          "preMarket": {
            "description": "프리마켓 (NXT 접속매매). NXT 프리마켓이 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PreMarketSession"
              },
              {
                "type": "null"
              }
            ]
          },
          "regularMarket": {
            "description": "정규장. KRX·NXT 정규장의 합집합. 둘 다 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/RegularMarketSession"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object"
      },
      "KrMarketCalendarResponse": {
        "properties": {
          "nextBusinessDay": {
            "$ref": "#/components/schemas/KrMarketDay"
          },
          "previousBusinessDay": {
            "$ref": "#/components/schemas/KrMarketDay"
          },
          "today": {
            "$ref": "#/components/schemas/KrMarketDay"
          }
        },
        "required": [
          "today",
          "previousBusinessDay",
          "nextBusinessDay"
        ],
        "type": "object"
      },
      "KrMarketDay": {
        "properties": {
          "date": {
            "description": "영업일 (KST 기준)",
            "example": "2026-03-25",
            "format": "date",
            "type": "string"
          },
          "integrated": {
            "description": "거래 가능 시간 (통합 모드 (KRX+NXT) 기준). 둘 다 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IntegratedHour"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "date"
        ],
        "type": "object"
      },
      "KrMarketDetail": {
        "properties": {
          "krxTradingSuspended": {
            "description": "KRX 거래정지 여부",
            "example": false,
            "type": "boolean"
          },
          "liquidationTrading": {
            "description": "정리매매 여부 (상장폐지 절차 진행 중).",
            "example": false,
            "type": "boolean"
          },
          "nxtSupported": {
            "description": "NXT 대체거래소 지원 여부",
            "example": true,
            "type": "boolean"
          },
          "nxtTradingSuspended": {
            "description": "NXT 거래정지 여부. NXT 미지원 종목(nxtSupported=false)은 null",
            "example": false,
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "required": [
          "liquidationTrading",
          "nxtSupported",
          "krxTradingSuspended"
        ],
        "type": "object"
      },
      "MarketCountry": {
        "description": "시장 국가 구분.\n- KR: 국내 주식 (KRX)\n- US: 미국 주식 (NYSE, NASDAQ 등)\n\n클라이언트는 unknown enum 값을 허용하도록 구현해야 합니다.\n",
        "enum": [
          "KR",
          "US"
        ],
        "type": "string"
      },
      "MarketValue": {
        "description": "시장 평가. 거래 통화(currency) 기준",
        "properties": {
          "amount": {
            "description": "시장 평가금액",
            "example": "7200000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "amountAfterCost": {
            "description": "세금/수수료 공제 후 평가금액",
            "example": "7050000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "purchaseAmount": {
            "description": "매입금액",
            "example": "6500000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "purchaseAmount",
          "amount",
          "amountAfterCost"
        ],
        "type": "object"
      },
      "OAuth2ErrorResponse": {
        "description": "OAuth2 토큰 발급 실패 응답.\n`/oauth2/token` 엔드포인트는 BFF 공통 `ErrorResponse` envelope 이 아닌 OAuth2 표준 포맷으로 응답합니다.\n클라이언트는 `code` 가 아닌 `error` 필드로 에러를 식별해야 합니다.\n",
        "properties": {
          "error": {
            "description": "에러 코드.",
            "enum": [
              "invalid_request",
              "invalid_client",
              "invalid_grant",
              "unauthorized_client",
              "unsupported_grant_type"
            ],
            "type": "string"
          },
          "error_description": {
            "description": "에러 상세 설명 (선택). 메시지에 non-ASCII 문자가 포함되는 경우 생략될 수 있습니다.\n",
            "example": "Client authentication failed.",
            "type": "string"
          },
          "error_uri": {
            "description": "에러 정보가 게시된 페이지 URI (선택).",
            "format": "uri",
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "type": "object"
      },
      "OAuth2TokenRequest": {
        "description": "OAuth2 Client Credentials Grant 토큰 발급 요청.\n`application/x-www-form-urlencoded` 으로 전송합니다.\n",
        "properties": {
          "client_id": {
            "description": "발급받은 클라이언트 ID",
            "example": "c_01HXYZABCDEFG123456789",
            "type": "string"
          },
          "client_secret": {
            "description": "발급받은 클라이언트 시크릿. 노출되지 않도록 서버 측에서만 사용합니다.",
            "format": "password",
            "type": "string"
          },
          "grant_type": {
            "description": "인증 방식. `client_credentials` 만 지원합니다.",
            "enum": [
              "client_credentials"
            ],
            "type": "string"
          }
        },
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "type": "object"
      },
      "OAuth2TokenResponse": {
        "description": "토큰 발급 성공 응답.\nBFF 의 공통 `ApiResponse` envelope 을 사용하지 않고 OAuth2 표준 형식으로 응답합니다.\n",
        "properties": {
          "access_token": {
            "description": "JWT 형식의 access token. 모든 API 요청의 `Authorization: Bearer` 헤더에 담습니다.",
            "example": "eyJraWQiOiIyMDI2LTA0LTAxLWtleSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiJjXzAxSFhZWiJ9...",
            "type": "string"
          },
          "expires_in": {
            "description": "토큰 만료까지 남은 초.",
            "example": 86400,
            "format": "int64",
            "type": "integer"
          },
          "token_type": {
            "description": "토큰 타입. 항상 `Bearer`.",
            "enum": [
              "Bearer"
            ],
            "example": "Bearer",
            "type": "string"
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ],
        "type": "object"
      },
      "Order": {
        "properties": {
          "canceledAt": {
            "description": "취소 시간 (ISO 8601, KST). 해당 없으면 null",
            "example": null,
            "format": "date-time",
            "type": [
              "string",
              "null"
            ]
          },
          "currency": {
            "$ref": "#/components/schemas/Currency",
            "example": "KRW"
          },
          "execution": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrderExecution"
              }
            ],
            "description": "체결 결과. 체결 내역이 없으면 filledQuantity=0",
            "type": "object"
          },
          "orderAmount": {
            "description": "주문 금액 (USD). 금액 기반 US 시장가 매수 주문에만 해당. 그 외 null",
            "example": null,
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          },
          "orderId": {
            "description": "주문 식별자",
            "example": "bAGzNvMOOTa5Uy0xVzYNbxDJ3Qpobwau4jDF3hyZZGWbpHm7wha8CFZc7aXVOWAl",
            "type": "string"
          },
          "orderType": {
            "description": "호가 유형.\n- `LIMIT`: 지정가\n- `MARKET`: 시장가\n\n클라이언트는 unknown code 를 허용하도록 구현해야 합니다.\n",
            "enum": [
              "LIMIT",
              "MARKET"
            ],
            "example": "LIMIT",
            "type": "string"
          },
          "orderedAt": {
            "description": "주문 시간 (ISO 8601, KST)",
            "example": "2026-03-29T09:30:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "price": {
            "description": "주문 가격 (native currency). MARKET 주문 시 null",
            "example": "70000",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          },
          "quantity": {
            "description": "주문 수량",
            "example": "10",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "side": {
            "description": "주문 방향",
            "enum": [
              "BUY",
              "SELL"
            ],
            "example": "BUY",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          },
          "symbol": {
            "description": "종목 심볼. KRX: 6자리 숫자, US: 영문 티커",
            "example": "005930",
            "type": "string"
          },
          "timeInForce": {
            "description": "주문 유효 조건 (Time In Force). `orderType` 과 결합되어 주문 방식이 결정됩니다 (예: `LIMIT` + `CLS` = LOC).\n- `DAY`: 당일 유효 (Day)\n- `CLS`: 장 마감 주문 (At the Close)\n- `OPG`: 장 개시 주문 (At the Opening). 현재는 지원하지 않습니다.\n\n클라이언트는 unknown code 를 허용하도록 구현해야 합니다.\n",
            "enum": [
              "DAY",
              "CLS",
              "OPG"
            ],
            "example": "DAY",
            "type": "string"
          }
        },
        "required": [
          "orderId",
          "symbol",
          "side",
          "orderType",
          "timeInForce",
          "status",
          "quantity",
          "currency",
          "orderedAt",
          "execution"
        ],
        "type": "object"
      },
      "OrderCreateRequest": {
        "oneOf": [
          {
            "description": "수량 기반 주문. quantity 로 주문 수량을 지정.",
            "properties": {
              "clientOrderId": {
                "description": "클라이언트 지정 주문 식별자. 멱등성 키로 사용됩니다.\n- 미전달: 멱등성 미적용. 매 요청을 별개 주문으로 처리합니다.\n- 전달: 동일 값으로 재요청 시 이전 주문 결과를 그대로 재반환합니다.\n서버는 자동 생성하지 않습니다.\n최대 36자, 영숫자 및 `-`, `_` 허용.\n멱등성 키는 10분간 유효하며, 이후 동일 값으로 재요청 시 새 주문으로 처리됩니다.\n",
                "example": "my-order-001",
                "maxLength": 36,
                "pattern": "^[a-zA-Z0-9\\-_]+$",
                "type": "string"
              },
              "confirmHighValueOrder": {
                "default": false,
                "description": "착오주문 방지를 위한 주문 확인 플래그. 기본값 `false`.\n1억원 이상의 주문 시 `true`가 아니면 `400 confirm-high-value-required` 에러를 반환합니다.\n사용자가 해당 주문의 금액을 인지하고 있음을 표시하기 위한 필드입니다.\n",
                "example": false,
                "type": "boolean"
              },
              "orderType": {
                "description": "호가 유형.\n- `LIMIT`: 지정가\n- `MARKET`: 시장가\n",
                "enum": [
                  "LIMIT",
                  "MARKET"
                ],
                "example": "LIMIT",
                "type": "string"
              },
              "price": {
                "description": "주문 가격. `orderType`이 `LIMIT` 일 때만 사용합니다.\n- `LIMIT`: 필수. 미전달 시 `400 invalid-request`.\n- `MARKET`: 전달 불가. 전달 시 `400 invalid-request`.\nKR: 정수 (원 단위). 호가 단위에 맞아야 합니다 (예: 50,000~200,000원 구간은 100원 단위).\nKR 은 호가 단위에 맞지 않으면 `400 invalid-request` 에러와 함께 올바른 호가 단위가 `data`에 포함됩니다.\nUS: 소수점 (달러 단위).\n  - $1 미만: 소수점 넷째 자리까지 (그 이하 자릿수는 절삭).\n  - $1 이상: 소수점 둘째 자리까지 (그 이하 자릿수는 절삭).\n",
                "example": "70000",
                "format": "decimal",
                "maxLength": 30,
                "pattern": "^\\d+(\\.\\d+)?$",
                "type": "string"
              },
              "quantity": {
                "description": "주문 수량 (주 단위). 지정한 수량만큼 주문합니다.\n정수만 가능합니다. (소수점 불가능. 소수점 주문 시 Amount-based variant 의 `orderAmount` 를 사용해야 합니다.)\n",
                "example": "10",
                "format": "decimal",
                "maxLength": 30,
                "pattern": "^\\d+$",
                "type": "string"
              },
              "side": {
                "description": "주문 방향",
                "enum": [
                  "BUY",
                  "SELL"
                ],
                "example": "BUY",
                "type": "string"
              },
              "symbol": {
                "description": "종목 심볼. KRX: 6자리 숫자, US: 영문 티커",
                "example": "005930",
                "type": "string"
              },
              "timeInForce": {
                "default": "DAY",
                "description": "주문 유효 조건 (Time In Force). 미전달 시 `DAY`. `orderType` 과 결합되어 주문 방식이 결정됩니다 (예: `LIMIT` + `CLS` = LOC).\n- `DAY`: 당일 유효 (Day). 정규장 종료까지 미체결분은 자동 취소됩니다.\n- `CLS`: 장 마감 주문 (At the Close). 현재 미국 주식 + `orderType=LIMIT` 조합만 지원합니다.\n",
                "enum": [
                  "DAY",
                  "CLS"
                ],
                "example": "DAY",
                "type": "string"
              }
            },
            "required": [
              "symbol",
              "side",
              "orderType",
              "quantity"
            ],
            "title": "OrderCreateQuantityBased",
            "type": "object"
          },
          {
            "description": "금액 기반 주문 (US MARKET 전용). orderAmount 로 주문 금액을 지정.",
            "properties": {
              "clientOrderId": {
                "description": "클라이언트 지정 주문 식별자. 멱등성 키로 사용됩니다.\n- 미전달: 멱등성 미적용. 매 요청을 별개 주문으로 처리합니다.\n- 전달: 동일 값으로 재요청 시 이전 주문 결과를 그대로 재반환합니다.\n서버는 자동 생성하지 않습니다.\n최대 36자, 영숫자 및 `-`, `_` 허용.\n멱등성 키는 10분간 유효하며, 이후 동일 값으로 재요청 시 새 주문으로 처리됩니다.\n",
                "example": "my-order-001",
                "maxLength": 36,
                "pattern": "^[a-zA-Z0-9\\-_]+$",
                "type": "string"
              },
              "confirmHighValueOrder": {
                "default": false,
                "description": "착오주문 방지를 위한 주문 확인 플래그. 기본값 `false`.\n1억원 이상의 주문 시 `true`가 아니면 `400 confirm-high-value-required` 에러를 반환합니다.\n사용자가 해당 주문의 금액을 인지하고 있음을 표시하기 위한 필드입니다.\n",
                "example": false,
                "type": "boolean"
              },
              "orderAmount": {
                "description": "주문 금액 (달러). 지정한 금액만큼 주문합니다.\n체결 수량은 체결 시점의 시장가에 따라 결정됩니다.\n\nQuantity-based 와의 차이: quantity 는 수량을 확정하고 비용이 변동하며,\norderAmount 는 금액을 확정하고 수량이 변동합니다.\n\n정규장 시간에만 접수 가능합니다.\n정규장 시간 외 요청 시 `422 amount-order-outside-regular-hours` 에러를 반환합니다.\n",
                "example": "100.5",
                "format": "decimal",
                "maxLength": 30,
                "pattern": "^\\d+(\\.\\d+)?$",
                "type": "string"
              },
              "orderType": {
                "description": "호가 유형. 금액 기반 주문은 `MARKET` 만 허용합니다.",
                "enum": [
                  "MARKET"
                ],
                "example": "MARKET",
                "type": "string"
              },
              "side": {
                "description": "주문 방향",
                "enum": [
                  "BUY",
                  "SELL"
                ],
                "example": "BUY",
                "type": "string"
              },
              "symbol": {
                "description": "US 종목 심볼 (영문 티커). 금액 기반 주문은 US MARKET 전용입니다.",
                "example": "AAPL",
                "type": "string"
              }
            },
            "required": [
              "symbol",
              "side",
              "orderType",
              "orderAmount"
            ],
            "title": "OrderCreateAmountBased",
            "type": "object"
          }
        ]
      },
      "OrderExecution": {
        "properties": {
          "averageFilledPrice": {
            "description": "평균 체결 가격 (native currency). 부분 체결 시 체결된 건의 평균",
            "example": "70000",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          },
          "commission": {
            "description": "총 체결 수수료 (native currency)",
            "example": "1400",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          },
          "filledAmount": {
            "description": "총 체결 금액 (native currency)",
            "example": "700000",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          },
          "filledAt": {
            "description": "최종 체결 시간 (ISO 8601, KST)",
            "example": "2026-03-28T09:31:15+09:00",
            "format": "date-time",
            "type": [
              "string",
              "null"
            ]
          },
          "filledQuantity": {
            "description": "체결 수량",
            "example": "10",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "settlementDate": {
            "description": "결제 예정일 (YYYY-MM-DD, KST 기준). 미결제 시 null",
            "example": "2026-03-30",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          },
          "tax": {
            "description": "총 체결 세금 (native currency)",
            "example": "0",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "filledQuantity",
          "averageFilledPrice",
          "filledAmount",
          "commission",
          "tax",
          "filledAt",
          "settlementDate"
        ],
        "type": "object"
      },
      "OrderModifyRequest": {
        "properties": {
          "confirmHighValueOrder": {
            "default": false,
            "description": "착오주문 방지를 위한 주문 확인 플래그. 기본값 `false`.\n1억원 이상의 주문 시 `true`가 아니면 `400 confirm-high-value-required` 에러를 반환합니다.\n사용자가 해당 주문의 금액을 인지하고 있음을 표시하기 위한 필드입니다.\n30억원 이상의 주문은 본 플래그와 무관하게 `422 max-order-amount-exceeded` 에러를 반환합니다.\n",
            "example": false,
            "type": "boolean"
          },
          "orderType": {
            "description": "변경할 호가 유형.\n- `LIMIT`: 지정가\n- `MARKET`: 시장가\n",
            "enum": [
              "LIMIT",
              "MARKET"
            ],
            "example": "LIMIT",
            "type": "string"
          },
          "price": {
            "description": "변경할 가격. `orderType`이 `LIMIT` 일 때만 사용합니다.\n- `LIMIT`: 필수. 미전달 시 `400 invalid-request`.\n- `MARKET`: 전달 불가. 전달 시 `400 invalid-request`.\nKR: 정수 (원 단위). 호가 단위에 맞아야 합니다. 맞지 않으면 `400 invalid-request` 에러.\nUS: 소수점 (달러 단위).\n  - $1 미만: 소수점 넷째 자리까지 (그 이하 자릿수는 절삭).\n  - $1 이상: 소수점 둘째 자리까지 (그 이하 자릿수는 절삭).\n",
            "example": "71000",
            "format": "decimal",
            "maxLength": 30,
            "pattern": "^\\d+(\\.\\d+)?$",
            "type": "string"
          },
          "quantity": {
            "description": "변경할 수량.\n**KR 주식: 필수.** 양의 정수만 허용합니다 (미전달/0/음수/소수점은 `400 invalid-request`).\nUS 주식: 전달 불가. 제공 시 `400 us-modify-quantity-not-supported` 에러.\n",
            "example": "15",
            "format": "decimal",
            "maxLength": 30,
            "pattern": "^\\d+$",
            "type": "string"
          }
        },
        "required": [
          "orderType"
        ],
        "type": "object"
      },
      "OrderOperationResponse": {
        "properties": {
          "orderId": {
            "description": "정정/취소로 새로 발급된 주문 식별자. 원주문의 orderId 와 다릅니다.\n",
            "example": "5nfzdqmzfnAw3LFXWHPRy0UNi7y_WZlphJh5hRIsi25-NIfm_GtQgXima5QD2hUz",
            "type": "string"
          }
        },
        "required": [
          "orderId"
        ],
        "type": "object"
      },
      "OrderResponse": {
        "properties": {
          "clientOrderId": {
            "description": "요청 시 전달한 값 그대로 반환. 미전달 시 `null`.",
            "example": "my-order-001",
            "type": [
              "string",
              "null"
            ]
          },
          "orderId": {
            "description": "서버 생성 주문 식별자. 정정/취소 시 사용",
            "example": "0d5QIHjmtksbsmM-hBRAgP-ExI8iodGm9fAR5txelPfnMM8XQ_swoJdwL5RpGWMo",
            "type": "string"
          }
        },
        "required": [
          "orderId"
        ],
        "type": "object"
      },
      "OrderStatus": {
        "description": "주문 상태.\n- `PENDING`: 체결 대기. 주문이 접수되어 체결을 대기 중인 상태\n- `PENDING_CANCEL`: 취소 대기. 취소 요청이 접수되어 브로커 응답을 대기 중인 상태\n- `PENDING_REPLACE`: 정정 대기. 정정 요청이 접수되어 브로커 응답을 대기 중인 상태\n- `PARTIAL_FILLED`: 부분 체결. 주문 수량 중 일부만 체결된 상태\n- `FILLED`: 체결 완료. 주문 수량이 전량 체결된 상태\n- `CANCELED`: 취소 완료. execution.filledQuantity를 통해 부분 체결 여부를 확인할 수 있음\n- `REJECTED`: 거부됨. 브로커가 주문을 거부한 상태. execution.filledQuantity를 통해 부분 체결 여부를 확인할 수 있음\n- `CANCEL_REJECTED`: 취소 거부. 브로커가 취소 요청을 거부한 경우 별도 주문 레코드로 생성됨. 원주문은 이전 상태로 복귀함\n- `REPLACE_REJECTED`: 정정 거부. 브로커가 정정 요청을 거부한 경우 별도 주문 레코드로 생성됨. 원주문은 이전 상태로 복귀함\n- `REPLACED`: 정정됨. 정정 요청이 수락되어 원주문이 대체된 상태. execution.filledQuantity를 통해 부분 체결 여부를 확인할 수 있음\n\n클라이언트는 unknown code 를 허용하도록 구현해야 합니다.\n",
        "enum": [
          "PENDING",
          "PENDING_CANCEL",
          "PENDING_REPLACE",
          "PARTIAL_FILLED",
          "FILLED",
          "CANCELED",
          "REJECTED",
          "CANCEL_REJECTED",
          "REPLACE_REJECTED",
          "REPLACED"
        ],
        "example": "FILLED",
        "type": "string"
      },
      "OrderbookEntry": {
        "properties": {
          "price": {
            "description": "호가",
            "example": "72100",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "volume": {
            "description": "잔량",
            "example": "8500",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "price",
          "volume"
        ],
        "type": "object"
      },
      "OrderbookResponse": {
        "properties": {
          "asks": {
            "description": "매도호가 목록 (낮은 가격순)",
            "items": {
              "$ref": "#/components/schemas/OrderbookEntry"
            },
            "type": "array"
          },
          "bids": {
            "description": "매수호가 목록 (높은 가격순)",
            "items": {
              "$ref": "#/components/schemas/OrderbookEntry"
            },
            "type": "array"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "timestamp": {
            "description": "데이터 시각. 데이터 미제공 시 null",
            "example": "2026-03-25T09:30:00.123+09:00",
            "format": "date-time",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "currency",
          "asks",
          "bids"
        ],
        "type": "object"
      },
      "OverviewDailyProfitLoss": {
        "description": "일간 손익. 전체 보유 종목의 통화별 합산",
        "properties": {
          "amount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Price"
              }
            ],
            "description": "일간 손익금액"
          },
          "rate": {
            "description": "일간 손익률 (소수비율). 전체 자산을 현재 환율로 원화 환산한 기준. 0.0185 = 1.85%",
            "example": "0.0185",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "amount",
          "rate"
        ],
        "type": "object"
      },
      "OverviewMarketValue": {
        "description": "시장 평가금액. 전체 보유 종목의 통화별 합산",
        "properties": {
          "amount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Price"
              }
            ],
            "description": "시장 평가금액"
          },
          "amountAfterCost": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Price"
              }
            ],
            "description": "세금/수수료 공제 후 평가금액"
          }
        },
        "required": [
          "amount",
          "amountAfterCost"
        ],
        "type": "object"
      },
      "OverviewProfitLoss": {
        "description": "손익. 전체 보유 종목의 통화별 합산",
        "properties": {
          "amount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Price"
              }
            ],
            "description": "손익금액"
          },
          "amountAfterCost": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Price"
              }
            ],
            "description": "세금/수수료 공제 후 손익금액"
          },
          "rate": {
            "description": "손익률 (소수비율). 전체 자산을 현재 환율로 원화 환산한 기준. 0.1516 = 15.16%",
            "example": "0.1516",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "rateAfterCost": {
            "description": "세금/수수료 공제 후 손익률 (소수비율). 전체 자산을 현재 환율로 원화 환산한 기준. 0.1406 = 14.06%",
            "example": "0.1406",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "amount",
          "amountAfterCost",
          "rate",
          "rateAfterCost"
        ],
        "type": "object"
      },
      "PaginatedOrderResponse": {
        "description": "주문 목록 페이징 응답.\n- `status=OPEN`: 모든 대기 중 주문을 반환합니다. `nextCursor`는 항상 `null`, `hasNext`는 항상 `false`.\n- `status=CLOSED`: 현재 호출 시 `400 closed-not-supported` 를 반환합니다.\n",
        "properties": {
          "hasNext": {
            "description": "다음 페이지 존재 여부",
            "example": false,
            "type": "boolean"
          },
          "nextCursor": {
            "description": "다음 페이지 커서. 다음 페이지가 없으면 null",
            "example": null,
            "type": [
              "string",
              "null"
            ]
          },
          "orders": {
            "description": "주문 목록",
            "items": {
              "$ref": "#/components/schemas/Order"
            },
            "type": "array"
          }
        },
        "required": [
          "orders",
          "nextCursor",
          "hasNext"
        ],
        "type": "object"
      },
      "PreMarketSession": {
        "description": "프리마켓 세션",
        "properties": {
          "endTime": {
            "description": "프리마켓 종료 (시가단일가 종료)",
            "example": "2026-03-25T09:00:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "singlePriceAuctionStartTime": {
            "description": "프리마켓 내 시가단일가 구간 시작 (NXT 프리마켓 접속매매 종료). 단일가 정보 결손 시 null",
            "example": "2026-03-25T08:50:00+09:00",
            "oneOf": [
              {
                "format": "date-time",
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startTime": {
            "description": "프리마켓 시작",
            "example": "2026-03-25T08:00:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "startTime",
          "endTime"
        ],
        "type": "object"
      },
      "Price": {
        "description": "통화별 합산 금액. 각 통화 필드는 해당 통화로 거래된 종목의 합만 포함합니다 (환율 환산을 통한 통화 간 합산 미포함).",
        "properties": {
          "krw": {
            "description": "KRW로 거래되는 국내 종목의 합산 금액. 국내 종목이 없으면 0",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "usd": {
            "description": "USD로 거래되는 해외 종목의 합산 금액. 해외 종목이 없으면 null",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "krw"
        ],
        "type": "object"
      },
      "PriceLimitResponse": {
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "lowerLimitPrice": {
            "description": "하한가. 미국 주식 등 가격제한이 없는 시장에서는 null",
            "example": "50400",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          },
          "timestamp": {
            "description": "데이터 시각",
            "example": "2026-03-25T09:30:00.123+09:00",
            "format": "date-time",
            "type": "string"
          },
          "upperLimitPrice": {
            "description": "상한가. 미국 주식 등 가격제한이 없는 시장에서는 null",
            "example": "93000",
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "timestamp",
          "currency"
        ],
        "type": "object"
      },
      "PriceResponse": {
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "lastPrice": {
            "description": "현재가",
            "example": "72000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "symbol": {
            "description": "종목 심볼",
            "example": "005930",
            "type": "string"
          },
          "timestamp": {
            "description": "데이터 시각. 체결 미발생 등으로 시각이 없을 경우 null",
            "example": "2026-03-25T09:30:00.123+09:00",
            "format": "date-time",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "symbol",
          "lastPrice",
          "currency"
        ],
        "type": "object"
      },
      "ProfitLoss": {
        "description": "손익. 거래 통화(currency) 기준",
        "properties": {
          "amount": {
            "description": "손익금액",
            "example": "700000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "amountAfterCost": {
            "description": "세금/수수료 공제 후 손익금액",
            "example": "550000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "rate": {
            "description": "손익률. 소수비율 (0.1077 = 10.77%)",
            "example": "0.1077",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "rateAfterCost": {
            "description": "세금/수수료 공제 후 손익률. 소수비율 (0.0846 = 8.46%)",
            "example": "0.0846",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "amount",
          "amountAfterCost",
          "rate",
          "rateAfterCost"
        ],
        "type": "object"
      },
      "RegularMarketSession": {
        "description": "정규장 세션. KRX·NXT 정규장의 합집합(가장 이른 시작 ~ 가장 늦은 종료). 종가단일가 구간을 포함",
        "properties": {
          "endTime": {
            "description": "정규장 종료 (종가단일가 종료)",
            "example": "2026-03-25T15:30:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "singlePriceAuctionStartTime": {
            "description": "정규장 내 종가단일가 구간 시작 (KRX 기준). KRX 휴장이면 null",
            "example": "2026-03-25T15:20:00+09:00",
            "oneOf": [
              {
                "format": "date-time",
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startTime": {
            "description": "정규장 시작. 가장 이른 KRX/NXT 정규장 시작 시각",
            "example": "2026-03-25T09:00:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "startTime",
          "endTime"
        ],
        "type": "object"
      },
      "SellableQuantityResponse": {
        "properties": {
          "sellableQuantity": {
            "description": "판매 가능 수량.\nKR: 정수 (주 단위). US: 소수점 포함 가능 (주 단위).\n",
            "example": "100",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "sellableQuantity"
        ],
        "type": "object"
      },
      "StockInfo": {
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "delistDate": {
            "description": "상장폐지일 (YYYY-MM-DD, KST 기준). 활성 종목은 null",
            "example": null,
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          },
          "englishName": {
            "description": "영문 종목명",
            "example": "SamsungElec",
            "type": "string"
          },
          "isCommonShare": {
            "description": "보통주 여부. 우선주인 경우 false",
            "example": true,
            "type": "boolean"
          },
          "isinCode": {
            "description": "국제증권식별번호 (ISO 6166)",
            "example": "KR7005930003",
            "type": "string"
          },
          "koreanMarketDetail": {
            "description": "국내 시장 상세 정보. 국내 종목(KOSPI, KOSDAQ, KR_ETC)에만 제공되며, 해외 종목은 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/KrMarketDetail"
              },
              {
                "type": "null"
              }
            ]
          },
          "leverageFactor": {
            "description": "레버리지 배수. ETF/ETN에만 적용 (1.0, 2.0, -1.0 등). 일반 주식 등 해당 없는 종목은 null",
            "example": null,
            "format": "decimal",
            "maxLength": 30,
            "type": [
              "string",
              "null"
            ]
          },
          "listDate": {
            "description": "상장일 (YYYY-MM-DD, KST 기준). 정보 미제공 시 null",
            "example": "1975-06-11",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          },
          "market": {
            "description": "상장 시장. warnings API의 exchange(거래소 단위)와 달리 시장 세그먼트 단위로 구분",
            "enum": [
              "KOSPI",
              "KOSDAQ",
              "NYSE",
              "NASDAQ",
              "AMEX",
              "KR_ETC",
              "US_ETC"
            ],
            "example": "KOSPI",
            "type": "string"
          },
          "name": {
            "description": "종목명 (한글)",
            "example": "삼성전자",
            "type": "string"
          },
          "securityType": {
            "description": "종목 유형",
            "enum": [
              "STOCK",
              "FOREIGN_STOCK",
              "DEPOSITARY_RECEIPT",
              "INFRASTRUCTURE_FUND",
              "REIT",
              "ETF",
              "FOREIGN_ETF",
              "ETN",
              "STOCK_WARRANTS"
            ],
            "example": "STOCK",
            "type": "string"
          },
          "sharesOutstanding": {
            "description": "발행주식수",
            "example": "5919637922",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "status": {
            "description": "상장 상태",
            "enum": [
              "SCHEDULED",
              "ACTIVE",
              "DELISTED"
            ],
            "example": "ACTIVE",
            "type": "string"
          },
          "symbol": {
            "description": "종목 심볼.",
            "example": "005930",
            "type": "string"
          }
        },
        "required": [
          "symbol",
          "name",
          "englishName",
          "isinCode",
          "market",
          "securityType",
          "isCommonShare",
          "status",
          "currency",
          "sharesOutstanding"
        ],
        "type": "object"
      },
      "StockWarning": {
        "properties": {
          "endDate": {
            "description": "적용 종료일 (inclusive, YYYY-MM-DD, KST 기준). 진행 중이거나 미정 시 null",
            "example": "2026-03-27",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          },
          "exchange": {
            "description": "거래소 코드 (KRX, NXT 등 물리적 거래소 단위). stocks API의 market(상장 시장 단위)과 추상화 수준이 다름. 거래소 무관 경고는 null",
            "example": "KRX",
            "type": [
              "string",
              "null"
            ]
          },
          "startDate": {
            "description": "적용 시작일 (inclusive, YYYY-MM-DD, KST 기준). 시작일 미정 시 null",
            "example": "2026-03-26",
            "format": "date",
            "type": [
              "string",
              "null"
            ]
          },
          "warningType": {
            "description": "유의사항 유형.\n클라이언트는 unknown code 를 허용하도록 구현해야 합니다.\n\n| 값 | 의미 |\n|------|------|\n| `LIQUIDATION_TRADING` | 정리매매 (상장폐지 절차 진행 중) |\n| `OVERHEATED` | 단기과열종목 지정 |\n| `INVESTMENT_WARNING` | 투자경고종목 지정 |\n| `INVESTMENT_RISK` | 투자위험종목 지정 |\n| `VI_STATIC_AND_DYNAMIC` | 변동성 완화장치(VI) 정적 + 동적 동시 발동 |\n| `VI_STATIC` | 변동성 완화장치(VI) 정적 발동 |\n| `VI_DYNAMIC` | 변동성 완화장치(VI) 동적 발동 |\n| `STOCK_WARRANTS` | 신주인수권증서/증권 |\n",
            "enum": [
              "LIQUIDATION_TRADING",
              "OVERHEATED",
              "INVESTMENT_WARNING",
              "INVESTMENT_RISK",
              "VI_STATIC_AND_DYNAMIC",
              "VI_STATIC",
              "VI_DYNAMIC",
              "STOCK_WARRANTS"
            ],
            "example": "VI_STATIC",
            "type": "string"
          }
        },
        "required": [
          "warningType"
        ],
        "type": "object"
      },
      "Trade": {
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "price": {
            "description": "체결가",
            "example": "72000",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          },
          "timestamp": {
            "description": "체결 시각",
            "example": "2026-03-25T09:30:42.000+09:00",
            "format": "date-time",
            "type": "string"
          },
          "volume": {
            "description": "체결 수량",
            "example": "120",
            "format": "decimal",
            "maxLength": 30,
            "type": "string"
          }
        },
        "required": [
          "price",
          "volume",
          "timestamp",
          "currency"
        ],
        "type": "object"
      },
      "UsAfterMarketSession": {
        "description": "애프터마켓 세션",
        "properties": {
          "endTime": {
            "description": "애프터마켓 종료",
            "example": "2026-03-26T07:00:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "startTime": {
            "description": "애프터마켓 시작",
            "example": "2026-03-26T05:00:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "startTime",
          "endTime"
        ],
        "type": "object"
      },
      "UsDayMarketSession": {
        "description": "데이마켓 세션 (토스증권)",
        "properties": {
          "endTime": {
            "description": "데이마켓 종료",
            "example": "2026-03-25T16:50:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "startTime": {
            "description": "데이마켓 시작",
            "example": "2026-03-25T09:00:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "startTime",
          "endTime"
        ],
        "type": "object"
      },
      "UsMarketCalendarResponse": {
        "properties": {
          "nextBusinessDay": {
            "$ref": "#/components/schemas/UsMarketDay"
          },
          "previousBusinessDay": {
            "$ref": "#/components/schemas/UsMarketDay"
          },
          "today": {
            "$ref": "#/components/schemas/UsMarketDay"
          }
        },
        "required": [
          "today",
          "previousBusinessDay",
          "nextBusinessDay"
        ],
        "type": "object"
      },
      "UsMarketDay": {
        "description": "미국 시장 영업일 정보. 4 세션(`dayMarket`, `preMarket`, `regularMarket`, `afterMarket`) 각각 nullable.\n휴장일이면 4 세션 모두 null.\n",
        "properties": {
          "afterMarket": {
            "description": "애프터마켓 세션. 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/UsAfterMarketSession"
              },
              {
                "type": "null"
              }
            ]
          },
          "date": {
            "description": "영업일 (미국 현지 기준)",
            "example": "2026-03-25",
            "format": "date",
            "type": "string"
          },
          "dayMarket": {
            "description": "데이마켓 세션 (토스증권). 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/UsDayMarketSession"
              },
              {
                "type": "null"
              }
            ]
          },
          "preMarket": {
            "description": "프리마켓 세션. 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/UsPreMarketSession"
              },
              {
                "type": "null"
              }
            ]
          },
          "regularMarket": {
            "description": "정규장 세션. 휴장이면 null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/UsRegularMarketSession"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "date"
        ],
        "type": "object"
      },
      "UsPreMarketSession": {
        "description": "프리마켓 세션",
        "properties": {
          "endTime": {
            "description": "프리마켓 종료",
            "example": "2026-03-25T22:30:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "startTime": {
            "description": "프리마켓 시작",
            "example": "2026-03-25T17:00:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "startTime",
          "endTime"
        ],
        "type": "object"
      },
      "UsRegularMarketSession": {
        "description": "정규장 세션",
        "properties": {
          "endTime": {
            "description": "정규장 종료",
            "example": "2026-03-26T05:00:00+09:00",
            "format": "date-time",
            "type": "string"
          },
          "startTime": {
            "description": "정규장 시작",
            "example": "2026-03-25T22:30:00+09:00",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "startTime",
          "endTime"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "oauth2ClientCredentials": {
        "description": "OAuth 2.0 Client Credentials Grant. `POST /oauth2/token` 으로 발급받은 access token 을\n모든 요청의 `Authorization: Bearer {access_token}` 헤더로 전달합니다.\n",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
